<body class="int3">

    <div id="modal" style="display: none;">
    	<div class="sombra"></div>
        <div id="alert">
        
        <div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
        
        </div><!--/alert-->
    </div><!-- /modal -->

	<div id="all">
    
    	<div id="logoPrincipal2">
        
            <img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/logoBisa.png" width="133" height="82" alt=""  />
        
        </div><!-- /logo -->
        
        <div id="content3" class="clear">
        
        	<div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
            
            <div id="tela02">
            
            	<div id="votacaoTopo">
                
                	<p>Configurações de Urna</p>
                
                </div>
                
                <div id="formVotacao">
                
                    <form class="formVotacao" enviar="false" method="post" action="/config/gravaDadosEleicao/" id="frmAlterarConfig">
                        
                        <table class="config">
                            <?php
                                /*
                                if ($carga):
                            ?>
                            <tr>
                                <td>Inserir Carga de dados</td>
                                <td>
                                    <a href="javascript:;" class="bt-enviar" id="addCarga"></a>
                                    <img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/loaderPesquisaEleitor.gif" id="imgLoad" class="none" />
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2"><hr /></td>
                            </tr>
                            <?php
                                endif;
                                */
                                if ($dataInicio != ''):
                            ?>
                            <tr>
                                <td>Data Inicío</td>
                                <td><input class="candidato confEleicao data w120" name="data_inicio" id="data_inicio" value="<?php echo $dataInicio?>" /></td>
                            </tr>
                            <tr>
                                <td>Hora Inicío</td>
                                <td><input class="candidato confEleicao hora w70" name="hora_inicio" id="hora_inicio" value="<?php echo $horaInicio?>" /></td>
                            </tr>
                            <tr>
                                <td>Data Fim</td>
                                <td><input class="candidato confEleicao data w120" name="data_final" id="data_final" value="<?php echo $dataTermino?>" /></td>
                            </tr>
                            <tr>
                                <td>Hora Início</td>
                                <td><input class="candidato confEleicao hora w70" name="hora_final" id="hora_final" value="<?php echo $horaTermino?>" /></td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="submit" id="btGravar" class="bt-enviar round" /></td>
                            </tr>
                            <?php
                                endif;
                            ?>
                        </table>
                        
                        
                    </form>
                    
                
                </div><!-- /table -->
            
            </div><!-- /tela02 -->
        <script type="text/javascript" src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>js/jquery.maskedinput-1.3.min.js"></script>
        <script type="text/javascript">
            
            $(
                function()
                {
                    $("#addCarga").click(
                        function()
                        {
                            //alert($(this).find("img").attr("src")+" - "+'<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/loaderPesquisaEleitor.gif')
                            var addCarga = $(this); 
                            addCarga.removeClass('bt-enviar');
                            //$(this).find("img").attr("src", '<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/loaderPesquisaEleitor.gif');
                            $("#addCarga").addClass('none');
                            $("#imgLoad").removeClass('none');
                            $.ajax({
                                type: "POST",
                                url: '/config/carregarDados/',
                                success: function(retorno){
                                    //if (retorno == 'true'){
                                        
                                    //} else {
                                    //}
                                    console.log(retorno);
                                }, done: function(retorno)
                                {
                                    if (retorno != 'false'){
                                        alert('Execute o arquivo '+ retorno+' contido na pasta <?php echo ORIGEM_APURACAO;?>');
                                        $("#imgLoad").addClass('none');
                                    } else {
                                        alert('error');
                                        addCarga.addClass('bt-enviar');
                                        $("#addCarga").removeClass('none');
                                        $("#imgLoad").addClass('none');
                                    }
                                    
                                    
                                    addCarga.addClass('bt-enviar');
                                    $("#addCarga").show('slow');
                                    $("#imgLoad").hide('slow');
                                    
                                }
                            });
                        }
                    )
                    
                    var msg = "Favor verificar:<br />";
                    
                    $(".data").mask('99/99/9999');
                    $(".hora").mask('99:99');
                    
                    $(".data").blur(
                        function()
                        {
                            $("#frmAlterarConfig").attr("enviar", "true");
                            if(!isValidDate($(this).val()) || DiffDate($(this).val(), '<?php echo date("d/m/Y")?>') > 0 ){
                                $("#frmAlterarConfig").attr("enviar", "false");
                                msg += $(this).parent().parent().find('td:first').text()+"; ";                                
                            }
                            console.log($(this).attr("id") + " blur " + $("#frmAlterarConfig").attr("enviar"));
                        }
                    )
                    
                    $(".hora").blur(
                        function()
                        {
                            $("#frmAlterarConfig").attr("enviar", "true");
                            if(!isValidTime($(this).val())){
                                $("#frmAlterarConfig").attr("enviar", "false");
                                msg += $(this).parent().parent().find('td:first').text()+"; ";
                            }
                            console.log($(this).attr("id") + " blur " + $("#frmAlterarConfig").attr("enviar"));
                        }
                    )
                    
                    $("#btGravar").click(
                        function()
                        {
                            if ($("#frmAlterarConfig").attr("enviar") == "true"){
                                $("#frmAlterarConfig").submit();
                            } else {
                                msg = "Favor verificar:<br />";
                                $(".confEleicao").each(
                                    function(i)
                                    {
                                        if(i % 2 == 0){
                                            if(!isValidDate($(this).val()) || DiffDate($(this).val(), '<?php echo date("d/m/Y")?>') > 0 ){
                                                $("#frmAlterarConfig").attr("enviar", "false");
                                                msg += $(this).parent().parent().find('td:first').text()+"; ";                                                
                                            } else {
                                                $("#frmAlterarConfig").attr("enviar", "true");
                                            }
                                            //console.log($(this).attr("id") + " each " + $("#frmAlterarConfig").attr("enviar"));
                                        } else {
                                            if(!isValidTime($(this).val())){
                                                $("#frmAlterarConfig").attr("enviar", "false");
                                                msg += $(this).parent().parent().find('td:first').text()+"; ";
                                            } else {
                                                $("#frmAlterarConfig").attr("enviar", "true");
                                            }
                                            console.log($(this).attr("id") + " each " + $("#frmAlterarConfig").attr("enviar"));
                                        }
                                    }
                                )
                                
                                if (DiffDate($("#data_inicio").val(), $("#data_final").val())){
                                    $("#frmAlterarConfig").attr("enviar", "false");
                                    msg = "A Data de Início deve ser maior ou igual que a data de Fim";
                                }
                                
                                if ($("#frmAlterarConfig").attr("enviar") == "true"){
                                    $("#frmAlterarConfig").submit();
                                } else {
                                    modal('alert', msg);
                                    return false;
                                }                                
                            }
                        }
                    )
                    
                }
            )
            
            function checkDate()
            {
                
            }
            
            function isValidDate(date)
            {
                var matches = /^(\d{2})[-\/](\d{2})[-\/](\d{4})$/.exec(date);
                if (matches == null) return false;
                var d = matches[1];
                var m = matches[2] - 1;
                var y = matches[3];
                var composedDate = new Date(y, m, d);
                return composedDate.getDate() == d &&
                        composedDate.getMonth() == m &&
                        composedDate.getFullYear() == y;
            }
            
            function isValidTime(hora)
            {
                hora = hora.split(":");
                if (hora[0] <= 23 && hora[1] <= 59){
                    return true;
                } else {
                    return false;
                }
            }
            
            function DiffDate(date1, date2) {
                
                date1 = date1.split("/");
                date2 = date2.split("/");
                
                var DateDiff = {
                 
                    inDays: function(d1, d2) {
                        var t2 = d2.getTime();
                        var t1 = d1.getTime();
                 
                        return parseInt((t2-t1)/(24*3600*1000));
                    },
                 
                    inWeeks: function(d1, d2) {
                        var t2 = d2.getTime();
                        var t1 = d1.getTime();
                 
                        return parseInt((t2-t1)/(24*3600*1000*7));
                    },
                 
                    inMonths: function(d1, d2) {
                        var d1Y = d1.getFullYear();
                        var d2Y = d2.getFullYear();
                        var d1M = d1.getMonth();
                        var d2M = d2.getMonth();
                 
                        return (d2M+12*d2Y)-(d1M+12*d1Y);
                    },
                 
                    inYears: function(d1, d2) {
                        return d2.getFullYear()-d1.getFullYear();
                    }
                    
                }
                    
                var d1 = new Date(date1[1]+"/"+date1[0]+"/"+date1[2]);
                var d2 = new Date(date2[1]+"/"+date2[0]+"/"+date2[2]);
                //var d2 = new Date();
                return DateDiff.inDays(d1, d2);
                
            }
        </script>