
        
<body class="int2">

	<div id="all">
    
    	<div id="logoPrincipal2">
        
            <img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/logoBisa.png" width="133" height="82" alt=""  />
        
        </div><!-- /logo -->
        
        <div id="content3" class="clear">
        
        	<div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
            
            <div id="tela02">
            
            	<div id="votacaoTopo">
                	<p>APURAÇÃO VOTOS POR CORRESPONDÊNCIA</p>
                </div>
                
                <img id="loaderCorrespondencia" src="<?php echo URL_PORTAL."templates/" . TEMPLATE . "/"?>/img/loaderPesquisaEleitor.gif" />
                
                <div id="formVotacao">
                    
                    <ul class="ulListagem">
                        <?php
                            $x = 2;
                            foreach($arrCandidatos as $candidato):
                        ?>
                        <li class="list<?php echo $candidato->oab?> lista<?php echo $x % 2 == 0 ? ' left' : ''?>">
                            <a href="javascript:;" onclick="destacarSelecionado('<?php echo $candidato->oab?>')">
                                <img src="<?php echo URL_PORTAL."templates/" . TEMPLATE . "/"?>/img/fotos/<?php echo $candidato->foto?>" width="200" />
                            </a>
                        </li>
                        <?php
                                $x++;
                            endforeach;
                        ?>
                        <li class="left bts visibility"><a href="javascript:;" class="confirma clear" onclick=""></a></li>
                        <li style="padding-top: 90px" class="bts visibility"><a href="javascript:;" onclick="destacarSelecionado('')" class="cancelar clear" onclick=""></a></li>
                    </ul>
                    
                    <input type="hidden" name="candSelect" id="candSelect" value="" />
                    
                    <div id="resumo">
                        <a href="javascript:;" id="gravarApuracaoCorrespondencia" onclick="gravarApuracaoCorrespondencia()" class="btEnviar clear" onclick=""></a>
                        <table>
                            <tr>
                                <th colspan="2">RESUMO VOTAÇÃO CORRESPONDÊNCIA</th>
                            </tr>
                        <?php
                            foreach($votos as $votos):
                        ?>
                            <tr>
                                <td width="80%"><?php echo $votos['cdt_nome']?></td>
                                <td><span class="candidato<?php echo $votos['cdt_oab']?>"><?php echo $votos['total'];?></span></td>
                            </tr>
                        <?php
                                $tt += $votos['total'];
                                $x++;
                            endforeach;
                        ?>
                            <tr>
                                <td>Total Lançados</td>
                                <td><span class="tt"><?php echo $tt;?></span></td>
                            </tr>
                            
                        </table>
                    
                    </div>
                                                            
                </div><!-- /table -->
            
            </div><!-- /tela02 -->
        <script type="text/javascript">
        
            function destacarSelecionado(box)
            {
                var candSelect = $("#candSelect").val();
                if (candSelect == ''){
                
                    $(".lista").each(
                        function()
                        {
                            $(this).fadeTo('fast', 0.1);
                        }
                    )
                    
                    $(".list"+box).fadeTo('fast', 1.1);
                    $("#candSelect").val(box);
                    
                    $(".bts").removeClass('visibility');
                    
                } else {
                    $(".bts").addClass('visibility');
                    $(".lista").fadeTo('fast', 1);
                    $("#candSelect").val('');
                }                
                
            }
            
            $(
                function()
                {
                            
                    <?php
                        if ($tt == 0):
                    ?>
                        $("#gravarApuracaoCorrespondencia").hide();
                    <?php endif;?>
                    
                    $(".confirma").click(
                        function()
                        {
                            $("#loaderCorrespondencia").show();
                            $("#formVotacao").fadeTo('slow', 0.1);                    
                            var candSelect = $("#candSelect").val();
                             $.ajax({
                                type: "POST",
                                url:'/urna/inserirVotoTmp/',
                                dataType: 'json',
                                data: { candSelect: candSelect },
                                success: function(data) {
                                    var tt = 0;
                                    for(i = 0; i < data.votos.length; i++) {
                                        $(".candidato"+data.votos[i].cdt_oab).html(data.votos[i].total);
                                        tt += parseInt(data.votos[i].total);
                                    }
                                    $(".tt").html(tt);
                                    if (tt > 0){
                                        $("#gravarApuracaoCorrespondencia").show();
                                    }
                                    destacarSelecionado('');
                                    $("#formVotacao").fadeTo('slow', 1);
                                    $("#loaderCorrespondencia").hide();
                                }
                            });                            
                        }
                    )
                }
            )
            
            
            function gravarApuracaoCorrespondencia()
            {
                $("#loaderCorrespondencia").show();
                $("#formVotacao").fadeTo('slow', 0.1, 
                                            function()
                                            {
                                                location.href='/eleicao/gravarApuracaoCorrespondencia/';
                                            }
                );
                
            }
        
        </script>
        
        