
<body class="int3">

	<div id="modal" style="display: none;">
    
    	<div class="sombra"></div>
        
        <div id="alert" class="modalHeight">
        
        	<div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
        
        	<div id="votacaoTopo">
                
                <p id="localVotacao"></p>
                
                <div id="table2">
                
                <table class="urna" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                    </thead>
                        <tbody id="resultadoVotacao"></tbody>
                </table>
                
                </div><!-- /table2 -->
            
            </div><!-- /votacaoTopo -->
            
            <a href="javascript:;" title="fechar" onclick="closeModal();" class="close">fechar</a>
        
        </div><!--/alert-->
    
    </div><!-- /modal -->

	<div id="all">
    
    	<div id="logoPrincipal2">
        
            <img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/logo/<?php echo LOGO?>" width="180" alt=""  />
        
        </div><!-- /logo -->
        
        <div id="content3" class="clear">
        
        	<div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
            
            <div id="tela02">
            
            	<div id="votacaoTopo">
                
                	<p>APURAÇÃO / COMISSÃO</p>
                
                </div>
                
                <div id="table">
                
                    <table class="urna" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                        	<tr>
                            	<th width="10%">Zona</th>
                                <th width="10%">Seção</th>
                                <th width="50%">Local de Votação</th>
                                <th width="30%">Status Urna</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            if (count($arrEleicao) > 0):
                                $i = 0;
                                
                                foreach($arrEleicao as $arrEleicao):
                                    
                                    if ($arrEleicao['urn_zona'] == '0000'):
                                        
                                        $vtSeparado = ' <tr class="'.$class.'">
                                                            <td>'.$arrEleicao['urn_zona'].'</td>
                                                            <td>'.$arrEleicao['urn_secao'].'</td>
                                                            <td>'.$arrEleicao['locvot_descricao'].'</td>
                                                            <td>';
                                                                if ($arrEleicao['urn_votosContabilizados']):
                                                                
                                                                $vtSeparado .= 'Apurada&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;"><img class="listarVotos" src="'.URL_PORTAL."templates/" . TEMPLATE . "/".'img/btSim.png" dados="'.$arrEleicao['urn_zona'].'|'.$arrEleicao['urn_secao'].'|'.$arrEleicao['locvot_descricao'].'" width="33" height="33" alt="" /></a>';                                        
                                                                else:
                                                                $vtSeparado .= 'Não Apurada<a href='.URL_PORTAL.'eleicao/listaZonas/ title="atualizar"><img src="'.URL_PORTAL."templates/" . TEMPLATE . "/".'img/btNao.png" width="33" height="33" alt="" /></a>';
                                                                endif;
                                                            $vtSeparado .= '</td>
                                                        </tr>';
                                        
                                    else:
                                    
                                        $class = (++$i % 2 == 0) ? 'bg' : '';
                            ?>
                                        <tr class="<?=$class?>">
                                            <td><?php echo $arrEleicao['urn_zona']?></td>
                                            <td><?php echo $arrEleicao['urn_secao']?></td>
                                            <td><?php echo $arrEleicao['locvot_descricao']?></td>
                                            <td>
                                                <?php
                                                if ($arrEleicao['urn_votosContabilizados']):
                                                ?>
                                                    Apurada&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;"><img class="listarVotos" src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/btSim.png" dados="<?=$arrEleicao['urn_zona'].'|'.$arrEleicao['urn_secao'].'|'.$arrEleicao['locvot_descricao']?>" width="33" height="33" alt="" /></a>                                        
                                                <?php
                                                else:
                                                ?>
                                                    Não Apurada<a href="<?=URL_PORTAL.'eleicao/apuracao/'.$arrEleicao['urn_zona'].'/'.$arrEleicao['urn_secao']?>/" title="atualizar"><img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/btNao.png" width="33" height="33" alt="" /></a>
                                                <?php
                                                endif;
                                                ?>
                                            </td>
                                        </tr>
                            
                            <?php
                                    endif;
                                endforeach;
                            endif;
                            echo $vtSeparado;
                            ?>
                            
                        </tbody>
                        
                    </table>
                
                </div><!-- /table -->
                        
                
                <?php
                        if( round($urnasApuradas['pctUrnasApuradas'])== 100 ):
                ?>
                <div id="impressaoFinal">
                    <ul>
                        <li>
                            <a href="/eleicao/impressaoApuracaoFinal" id="btEmissaoFinal" class="btEmissaoFinal"></a>
                        </li>
                    </ul>
                </div>
                <?php
                        endif;
                ?>
                
                
            </div><!-- /tela02 -->
        
        <script type="text/javascript">
   
            $(document).ready(function(){
               <?php
                if( round($recarregar['pctUrnasApuradas']) != 100 ):
               ?>
               setTimeout("copiarDadosApuracao()", 5000);
               //setInterval("montaApuracao()", 5000);
               <?php
                endif;
               ?>             
               
               $('.listarVotos').click(function(){
                    
                    dados = $(this).attr('dados').split('|');
                    
                    $.ajax({
                            type: "POST",
                            data: { zona: dados[0],
                                    secao: dados[1] },
                            url: '/candidato/listaVotosCandidatoUrna/',
                            dataType: 'json',
                            success: function(data){
                                var votos = '';
                                var votosApu = '';
                                var branco = '';
                                var nulo = '';
                                var classe = '';
                                var cargo = data.candidatos[0].car_id;
                                var atual = '';
                                
                                for(i = 0; i < data.candidatos.length; i++) {
                                    atual = cargo;
                                    cargo = data.candidatos[i].car_id;
                                    cargoNome = data.candidatos[i].car_nome;
                                    numeroCandidato = data.candidatos[i].cdt_numeroCandidatura;
                                    
                                    if (cargo != null) {
                                        if (i == 0 || atual != cargo){
                                            if (i > 0){
                                                
                                                if(branco == '') {
                                                    branco += '<tr class="'+classe+'">';
                                                    branco += '<td>---</td>';
                                                    branco += '<td>Branco</td>';
                                                    branco += '<td>0</td>';
                                                    branco += '</tr>';
                                                }
                                                
                                                if(nulo == '') {
                                                    nulo += '<tr class="'+classe+'">';
                                                    nulo += '<td>---</td>';
                                                    nulo += '<td>Nulo</td>';
                                                    nulo += '<td>0</td>';
                                                    nulo += '</tr>';
                                                }
                                                
                                                votos += votosApu+branco+nulo;
                                                votosApu = '';
                                                branco = '';
                                                nulo = '';
                                                votos += '<tr>';
                                                votos += '<td colspan="3" style="border: 0">&nbsp;</td>';
                                                votos += '</tr>';
                                            }
                                            
                                            votos += '<tr>';
                                            votos += '<th colspan="3">'+cargoNome+'</th>';
                                            votos += '</tr>';
                                            
                                            votos += '<tr>';
                                            votos += '    <td>Nº</td>';
                                            votos += '    <td>Nome</td>';
                                            votos += '    <td>Votos</td>';
                                            votos += '</tr>';
                                        }                                        
                                    }
                                
                                /*var cargo = data.candidatos[3].car_nome;
                                console.log(cargo);
                                var atual = '';
                                for(i = 0; i < data.candidatos.length; i++) {
                                    atual = cargo;
                                    cargo = data.candidatos[i].car_nome;
                                    
                                    classe = (i % 2 == 0) ? '' : 'bg';
                                    cdt_numeroCandidatura = data.candidatos[i].cdt_numeroCandidatura;
                                    
                                    if (cargo != null && cargo != 'OAB'){
                                    
                                        if (i == 0 || atual != cargo){
                                            
                                            if (i > 0){
                                                votos += '<tr class="'+classe+'">';
                                                votos += '<td colspan="3">&nbsp;</td>';
                                                votos += '</tr>'
                                            }
                                            
                                            votos += '<tr class="'+classe+'">';
                                            votos += '<td colspan="3">'+cargo+'</td>';
                                            votos += '</tr>';
                                            
                                            votos += '<tr class="'+classe+'">';
                                            votos += '  <th>Nº</th>';
                                            votos += '  <th>Nome</th>';
                                            votos += '  <th>Votos</th>';
                                            votos += '</tr>';
                                            
                                        }
                                    } */
                                    
                                    if (numeroCandidato == '<?=BRANCO_NUMERO?>'){
                                        branco += '<tr class="'+classe+'">';
                                        branco += '<td>---</td>';
                                        branco += '<td>'+data.candidatos[i].cdt_nome+'</td>';
                                        branco += '<td>'+data.candidatos[i].totalVotos+'</td>';
                                        branco += '</tr>';
                                    } else if (numeroCandidato == '<?=NULO_NUMERO?>'){
                                        nulo += '<tr class="'+classe+'">';
                                        nulo += '<td>---</td>';
                                        nulo += '<td>'+data.candidatos[i].cdt_nome+'</td>';
                                        nulo += '<td>'+data.candidatos[i].totalVotos+'</td>';
                                        nulo += '</tr>';
                                    } else {
                                        votosApu += '<tr class="'+classe+'">';
                                        votosApu += '<td>'+numeroCandidato+'</td>';
                                        votosApu += '<td>'+data.candidatos[i].cdt_nome+'</td>';
                                        votosApu += '<td>'+data.candidatos[i].totalVotos+'</td>';
                                        votosApu += '</tr>';
                                    }
                                    
                                }
                                if(branco == '') {
                                    branco += '<tr class="'+classe+'">';
                                    branco += '<td>---</td>';
                                    branco += '<td>Branco</td>';
                                    branco += '<td>0</td>';
                                    branco += '</tr>';
                                }
                                
                                if(nulo == '') {
                                    nulo += '<tr class="'+classe+'">';
                                    nulo += '<td>---</td>';
                                    nulo += '<td>Nulo</td>';
                                    nulo += '<td>0</td>';
                                    nulo += '</tr>';
                                }
                                
                                votos += votosApu+branco+nulo;
                                var separador = '';
                                //separador += '<tr class="'+classe+'">';
                                //separador += '<td colspan="3">&nbsp;</td>';
                                //separador += '</tr>'
                                
                                $('#localVotacao').empty().html("Zona:"+ dados[0] + "\t|\tSecao:"+ dados[1] +"\t|\t"+ dados[2]);
                                $('#resultadoVotacao').empty().append(votos);
                                showModal();
                                
                            }
                        }
                        );
                
               });
                
            });    
            
            function montaApuracao()
            {
                console.log("iniciando a gravação dos dados");
                $.ajax({
                        type: "POST",
                        url: '/eleicao/apurarUrna/',
                        success: function(data){
                            //console.log(data);
                            //location.href = "/eleicao/eleicaoHome/";
                            console.log("Dados gravados");
                            window.location.reload();
                        }
                    }).done(function ( data ) {
                        console.log("Dados gravados");
                        window.location.reload();
                    });
                
            }
            
            function copiarDadosApuracao()
            {
                console.log("foi");
                $.ajax({
                        type: "POST",
                        url: '/eleicao/copiarArquivoApuracao/',
                        success: function(data){
                            //console.log(data);
                            //location.href = "/eleicao/eleicaoHome/";
                            //window.location.reload();
                        }
                    }).done(function ( data ) {
                        setInterval("montaApuracao()", 10000);
                        //setInterval("montaApuracao()", 300000);
                        console.log("Arquivos copiados");
                        console.log("a gravação dos dados vai ser iniciada");
                    });
                
            }
            
        </script>        