<?php //echo "<pre>"; var_dump($arrResultadoEleicao);die(); ?>

1<body class="int3">
    
    <div id="all">
    
        <div id="logoPrincipal2">
        
            <img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/logo/<?php echo LOGO?>" width="500" alt=""  />
        
        </div><!-- /logo -->
        
        <div id="content3" class="clear">
        
            <div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
            
            <div id="tela02">
            
                <div id="votacaoTopo">
                
                    <p><?php echo $arrResultadoEleicao[0]['cdt_nome_conselho'] ?></p>
                
                </div>
                
                <div id="contentMapaCarga">
     
                 
                </div>  

                <div id="table">
                
                            <table class="urna" id="tableDeferir"  width="100%" height="2000px" border="0" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>         
                        
                                        <th width="50%"  >NOME</th>
                                        <th width="25%"  >NUMERO</th>
                                        <th width="25%"  >VOTOS</th>
                                    </tr>
                                </thead>
                                
       
                                <tbody>

                                <?php foreach ($arrResultadoEleicao as $key): ?>

                                <tr>    
                                    <td><?php echo $key['cdt_nome'] ?></td>
                                    <td><?php echo $key['cdt_oab'] ?></td>
                                     <td><?php echo $key['total'] ?></td>
                                </tr>    

                                    
                                <?php endforeach ?>
                                    
                               
                                
                           

                                </tbody>
                  
                            </table>


                        
                         

                        </div><!-- /table -->       
                
                          <div id="votacaoTopo">
                            
                                <p></p>
                            
                            </div>
                
            </div><!-- /tela02 -->


<script type="text/javascript">
   
</script>
