
<body class="int3">

	<div id="modal" style="display: none;">
    
    	<div class="sombra"></div>
        
        <div id="alert" class="modalHeight">
        
        	<div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
        
        	<div id="votacaoTopo">
                
                <p id="localVotacao"></p>
                
                <div id="table2">
                
                <table class="urna" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                    </thead>
                        <tbody id="resultadoVotacao"></tbody>
                </table>
                
                </div><!-- /table2 -->
            
            </div><!-- /votacaoTopo -->
            
            <a href="javascript:;" title="fechar" onclick="closeModal();" class="close">fechar</a>
        
        </div><!--/alert-->
    
    </div><!-- /modal -->

	<div id="all">
    
    	<div id="logoPrincipal2">
        
            <img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/logo/<?php echo LOGO?>" width="500" alt=""  />
        
        </div><!-- /logo -->
        
        <div id="content3" class="clear">
        
        	<div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
            
            <div id="tela02">
            
            	<div id="votacaoTopo">
                
                	<p>APURAÇÃO / COMISSÃO</p>
                
                </div>
                
                <div id="contentCarga">
    
                    <form id="formDeferir" class="form-cadastro round" name="formLoginUsuario" action="#" method="post">
                        
                        <div class="inputDeferir">
                            <label>Número da Urna</label>
                            <input type="text" name="urna" id="urna" class="validate[required]"/>
                        </div>
   
                        <div class="inputDeferir">
                        <br /><br />
                            <span id="buscarUrna">Buscar</span>
                        </div>
                    </form>
                     
                
                </div>
                
                <div id="table">
                
                    <table class="urna" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                        	<tr>                                
                            	<th width="10%">Zona</th>
                                <th width="10%">Seção</th>
                                <th width="40%">Local de Votação</th>
                                <th width="30%">Status Urna</th>
                            </tr>
                        </thead>
                        <tbody id="apaurarUrna">
                        
                        </tbody>
                        <tbody>
                        
                            
                        </tbody>
                        
                    </table>
                
                </div><!-- /table -->
                        
                
                <?php
                        if( round($urnasApuradas['pctUrnasApuradas'])== 100 ):
                ?>
                <div id="impressaoFinal">
                    <ul>
                        <li>
                            <a href="/eleicao/impressaoApuracaoFinal" id="btEmissaoFinal" class="btEmissaoFinal"></a>
                        </li>
                    </ul>
                </div>
                <?php
                        endif;
                ?>
                
                
            </div><!-- /tela02 -->
        
        <script type="text/javascript">
   
            $(document).ready(function(){
               <?php
                if( round($recarregar['pctUrnasApuradas']) != 100 ):
               ?>
               //setTimeout("copiarDadosApuracao()", 5000);
               //setInterval("montaApuracao()", 5000);
               <?php
                endif;
               ?>             
               
            $('#buscarUrna').click(function(){

            var urna = $('#urna').val();
          
            $.ajax({
                url: '/urna/buscarUrna/',
                type: 'post',
                dataType: 'json',
                data: {urna:urna},
            })
            .done(function(result) {
              
              console.log(result);
              

                $("td").remove();

                
               if (result) {                
                    if(result.status == '0'){
                        apuracao = 'Não Apurada';

                     $("#apaurarUrna").after('<tbody><tr>'                             
                                                    +'<td>'+result.urn_zona+'</td>'
                                                    +'<td>'+result.urn_secao+'</td>'                                                   
                                                    +'<td>'+result.escola_nome+'</td>'
                                                    +'<td>'+apuracao+'<a href="<?=URL_PORTAL?>eleicao/apuracao/'+result.urn_zona+'/'+result.urn_secao+'/" title="atualizar"><img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/btNao.png" width="33" height="33" alt="" /></a>'
                                                      
                                                    +'</td>'

                                                +'</tr></tbody>');
                        
                    } else {
                        apuracao = 'Apurada&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';

                         $("#apaurarUrna").after('<tbody><tr>'                             
                                                    +'<td>'+result.urn_zona+'</td>'
                                                    +'<td>'+result.urn_secao+'</td>'                                                   
                                                    +'<td>'+result.escola_nome+'</td>'
                                                    +'<td>'+apuracao+'<a href="<?=URL_PORTAL?>eleicao/apuracao/'+result.urn_zona+'/'+result.urn_secao+'/" title="atualizar"><img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/btNao.png" width="33" height="33" alt="" /></a>'
                                                    +'Gerar Boletim<a href="<?=URL_PORTAL?>eleicao/emitirBuApuracao/'+result.urn_zona+'/'+result.urn_secao+'/" title="Boletim"><img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/duplicado.png" width="33" height="33" alt="" /></a>'
                                                        
                                                    +'</td>'

                                                +'</tr></tbody>');
                     
                    }

                   
                    $('#apaurarUrna').css('display', 'block');

                 

               } else{
                    $("#apaurarUrna").after('<tbody><tr>'                             
                                                    +'<td colspan="4" align="center">Urna não encontrada!</td>'                                                  
                                                +'</tr></tbody>');
                    $('#apaurarUrna').css('display', 'block');

               };
            });
        });
               
               
               $('.urna').delegate('img','click',function(){
                    
                    dados = $(this).attr('dados').split('|');                    
                    
                    console.log(dados);
                    
                    $.ajax({
                            type: "POST",
                            data: { zona: dados[0],
                                    secao: dados[1],
                                    urna: dados[3] },
                            url: '/candidato/listaVotosCandidatoUrna/',
                            dataType: 'json',
                            success: function(data){
                                console.log(data);
                                var votos = '';
                                var votosApu = '';
                                var branco = '';
                                var nulo = '';
                                var classe = '';
                                var cargo = data.candidatos[0].car_id;
                                var atual = '';
                                
                                for(i = 0; i < data.candidatos.length; i++) {
                                    atual = cargo;
                                    cargo = data.candidatos[i].car_id;
                                    cargoNome = data.candidatos[i].car_nome;
                                    numeroCandidato = data.candidatos[i].cdt_numeroCandidatura;
                                    
                                    if (cargo != null) {
                                        if (i == 0 || atual != cargo){
                                            if (i > 0){
                                                
                                                if(branco == '') {
                                                    branco += '<tr class="'+classe+'">';
                                                    branco += '<td>---</td>';
                                                    branco += '<td>Branco</td>';
                                                    branco += '<td>0</td>';
                                                    branco += '</tr>';
                                                }
                                                
                                                if(nulo == '') {
                                                    nulo += '<tr class="'+classe+'">';
                                                    nulo += '<td>---</td>';
                                                    nulo += '<td>Nulo</td>';
                                                    nulo += '<td>0</td>';
                                                    nulo += '</tr>';
                                                }
                                                
                                                votos += votosApu+branco+nulo;
                                                votosApu = '';
                                                branco = '';
                                                nulo = '';
                                                votos += '<tr>';
                                                votos += '<td colspan="3" style="border: 0">&nbsp;</td>';
                                                votos += '</tr>';
                                            }
                                            
                                            votos += '<tr>';
                                            votos += '<th colspan="3">'+cargoNome+'</th>';
                                            votos += '</tr>';
                                            
                                            votos += '<tr>';
                                            votos += '    <td>Nº</td>';
                                            votos += '    <td>Nome</td>';
                                            votos += '    <td>Votos</td>';
                                            votos += '</tr>';
                                        }                                        
                                    }
                                    
                                    if (numeroCandidato == '<?=BRANCO_NUMERO?>'){
                                        branco += '<tr class="'+classe+'">';
                                        branco += '<td>---</td>';
                                        branco += '<td>'+data.candidatos[i].cdt_nome+'</td>';
                                        branco += '<td>'+data.candidatos[i].totalVotos+'</td>';
                                        branco += '</tr>';
                                    } else if (numeroCandidato == '<?=NULO_NUMERO?>'){
                                        nulo += '<tr class="'+classe+'">';
                                        nulo += '<td>---</td>';
                                        nulo += '<td>'+data.candidatos[i].cdt_nome+'</td>';
                                        nulo += '<td>'+data.candidatos[i].totalVotos+'</td>';
                                        nulo += '</tr>';
                                    } else {
                                        votosApu += '<tr class="'+classe+'">';
                                        votosApu += '<td>'+numeroCandidato+'</td>';
                                        votosApu += '<td>'+data.candidatos[i].cdt_nome+'</td>';
                                        votosApu += '<td>'+data.candidatos[i].totalVotos+'</td>';
                                        votosApu += '</tr>';
                                    }
                                    
                                }
                                if(branco == '') {
                                    branco += '<tr class="'+classe+'">';
                                    branco += '<td>---</td>';
                                    branco += '<td>Branco</td>';
                                    branco += '<td>0</td>';
                                    branco += '</tr>';
                                }
                                
                                if(nulo == '') {
                                    nulo += '<tr class="'+classe+'">';
                                    nulo += '<td>---</td>';
                                    nulo += '<td>Nulo</td>';
                                    nulo += '<td>0</td>';
                                    nulo += '</tr>';
                                }
                                
                                votos += votosApu+branco+nulo;
                                var separador = '';
                                
                                $('#localVotacao').empty().html("Zona:"+ dados[0] + "\t|\tSecao:"+ dados[1]+ "\t|\Urna:"+ dados[3] +"\t|\t"+ dados[2]);
                                $('#resultadoVotacao').empty().append(votos);
                                showModal();
                                
                            }
                        }
                        );
                
               });
                
            });    
            
            function montaApuracao()
            {
                console.log("iniciando a gravação dos dados");
                $.ajax({
                        type: "POST",
                        url: '/eleicao/apurarUrna/',
                        success: function(data){
                            //console.log(data);
                            //location.href = "/eleicao/eleicaoHome/";
                            console.log("Dados gravados");
                            window.location.reload();
                        }
                    }).done(function ( data ) {
                        console.log("Dados gravados");
                        window.location.reload();
                    });
                
            }
            
            function copiarDadosApuracao()
            {
                console.log("foi");
                $.ajax({
                        type: "POST",
                        url: '/eleicao/copiarArquivoApuracao/',
                        success: function(data){
                            //console.log(data);
                            //location.href = "/eleicao/eleicaoHome/";
                            //window.location.reload();
                        }
                    }).done(function ( data ) {
                        setInterval("montaApuracao()", 10000);
                        //setInterval("montaApuracao()", 300000);
                        console.log("Arquivos copiados");
                        console.log("a gravação dos dados vai ser iniciada");
                    });
                
            }

            <?php
                if (trim($msg) != ''):
            ?>
                alert('<?php echo $msg;?>');
            <?php
                endif;
            ?>
            
        </script>        