<body class="int3">

    <div id="modal" style="display: none;">
    	<div class="sombra"></div>
        <div id="alert">
        
        <div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
        
        	<div id="confirmar" >
            	<p class="numero" id="numeroCandidato"><strong></strong></p>
                <p class="nome" id="modMensagem"><strong></strong></p>
                <a href="javascript:;" onclick="closeModal()" id="modOk" class="modOk modAlert">ok</a>
                <a href="javascript:;" id="modConfirma" class="modConfirma modConfirm">confirma</a>
            	<a href="javascript:;" onclick="closeModal()" id="modCancela" class="modCancela modConfirm">cancela</a>
            </div><!-- /confirmar -->
        </div><!--/alert-->
    </div><!-- /modal -->

	<div id="all">
    
    	<div id="logoPrincipal2">
        
            <img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/logoBisa.png" width="133" height="82" alt=""  />
        
        </div><!-- /logo -->
        
        <div id="content3" class="clear">
        
        	<div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
            
            <div id="tela02">
            
            	<div id="votacaoTopo">
                
                	<p>LISTA DE ZONAS</p>
                
                </div>
                
                <div id="formVotacao">
                    <div id="zonas">    
                        <table class="exibicao" width="80%">
                        
                        <?
                        
                        for($i = 0; $i < sizeof($arrZonas); $i += 4) { 
                        ?>
                        
                            <tr>
                                <td><a class="zona" href="/eleicao/apuracaoManual/<?=$arrZonas[$i]['urn_zona']?>/0000/"><?=$arrZonas[$i]['urn_zona']?></a></td>
                                <? if($arrZonas[$i+1]['urn_zona'] != '') { ?>
                                <td><a class="zona" href="/eleicao/apuracaoManual/<?=$arrZonas[$i+1]['urn_zona']?>/0000/"><?=$arrZonas[$i+1]['urn_zona']?></a></td>
                                <? } if($arrZonas[$i+2]['urn_zona'] != '') { ?>
                                <td><a class="zona" href="/eleicao/apuracaoManual/<?=$arrZonas[$i+2]['urn_zona']?>/0000/"><?=$arrZonas[$i+2]['urn_zona']?></a></td>
                                <? } if($arrZonas[$i+3]['urn_zona'] != '') { ?>
                                <td><a class="zona" href="/eleicao/apuracaoManual/<?=$arrZonas[$i+3]['urn_zona']?>/0000/"><?=$arrZonas[$i+3]['urn_zona']?></a></td>
                                <? } ?>
                            </tr>
                            
                        
                        <?
                        }
                        ?>
                        
                        
                        </table>
                        
                        <ul>
                            <li>
                                <a href="/eleicao/eleicaoHome/" class="voltar"></a>
                            </li>
                        </ul>
                    </div><!-- /zonas -->
                </div><!-- /formVotacao -->
            
            </div><!-- /tela02 -->


<script type="text/javascript" src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>js/jquery.mask.js"></script>
<script type="text/javascript">
    
    $(document).ready(function(){
            
        $('#enviar').click(function(){
            var submete = true; 
            $('.candidato').each(function(){
                if($(this).val() == '') {
                    modal('alert','Informe os votos de todos os candidatos.');
                    submete = false;
                    return false;
                }
            });
            if(submete) {
                $('#frmApuracaoManual').submit();    
            } 
        });
        
        $(".candidato").mask("99999");
        $(".candidato").focus(function(){
            if($(this).val() == 0) {
                $(this).val('');
            } 
        });
        $(".candidato").blur(function(){
            if($(this).val() == '') {
                $(this).val('0');
            } 
        });
            
    });
            
</script>
