    <?php
        if (isset($_SESSION['error_login_config']) && $_SESSION['error_login_config'] != ''):
    ?>
        <script type="text/javascript">
            $(
                function()
                {
                    modal('alert', '<?php echo $_SESSION['error_login_config'];?>');
                }
            )
			
        </script>
    <?php
        //echo $_SESSION['error_login_config'];
        endif;
    ?>
<div id="tela04">
            
	<div id="votacaoTopo">
    
    	<p>CONFIGURAÇÕES</p>
    
    </div>
    
    <div id="formVotacao">
    
        <form id="votacao" class="form-cadastro round" name="formLoginUsuario" id="formLoginUsuario" action="<?php echo URL_PORTAL?>config/acesso/" method="post">
        
            <input type="password" name="senha" id="senha" class="validate[required] left clear" value="Senha" />
            
            <div class="clear"></div>
            
            <a href="javascript:;" class="login clear" onclick="document.formLoginUsuario.submit();">login</a>
        
        </form>
    
    </div>

</div><!-- /tela04 -->
