
        
<body class="int2">

    <div id="modal" style="display: none;">
    	<div class="sombra"></div>
        <div id="alert">
        	<div id="confirmar" >
            	<p class="numero" id="numeroCandidato"><strong></strong></p>
                <p class="nome" id="modMensagem"><strong></strong></p>
                <a href="javascript:;" id="modOk" class="modOk modAlert">ok</a>
                <a href="javascript:;" id="modConfirma" class="modConfirma modConfirm">confirma</a>
            	<a href="javascript:;" id="modCancela" class="modCancela modConfirm">cancela</a>
            </div><!-- /confirmar -->
        </div><!--/alert-->
    </div><!-- /modal -->

	<div id="all">
    
    	<div id="logoPrincipal2">
        
            <img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/logo/logo.png" width="500" height="82" alt=""  />
        
        </div><!-- /logo -->
        
        <div id="content3" class="clear">
        
        	<div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
            
            <div id="tela02">
            
            	<div id="votacaoTopo">
                	<p>APURAÇÃO ZONA: <?php echo $zonaAtiva?> SEÇÃO: <?php echo $secaoAtiva?></p>
                </div>
                
                <div id="formVotacao">
                    
                    <ul>
                        <li>
                          <?php if(!isset($manual)) { ?>
                          <a href="/eleicao/apuracaoManual/<?php echo $zonaAtiva.'/'.$secaoAtiva ?>/" class="botaoCSS">Apuração Manual</a>
                          <?php } else { ?>
                          <a href="/eleicao/apuracaoManualEdicao/<?php echo $zonaAtiva.'/'.$secaoAtiva ?>/" class="botaoCSS">Apuração Manual</a>
                          <?php } ?>
                        </li>
                        <li>
                          <?php if(!isset($eletronica)) { ?>
                          <a href="javascript:;" onclick="apurar()" class="botaoCSS">Apuração Eletrônica</a>
                          <?php } else { ?>
                          <a href="javascript:;" class="botaoCSSCinza">Apuração Eletrônica</a>
                          <?php } ?>
                        </li>
                        <li>
                          <?php if(isset($manual)) { ?>
                          <a href="/eleicao/resultadoUrna/<?php echo $zonaAtiva.'/'.$secaoAtiva ?>/M" class="botaoCSS">Resultado Apuração Manual</a>
                          <?php } else { ?>
                          <a href="javascript:;" class="botaoCSSCinza">Resultado Apuração Manual</a>
                          <?php } ?>
                        </li>
                        <li>
                          <?php if(isset($eletronica)) { ?>
                          <a href="/eleicao/resultadoUrna/<?php echo $zonaAtiva.'/'.$secaoAtiva ?>/E" class="botaoCSS">Resultado Apuração Eletrônica</a>
                          <?php } else { ?>
                          <a href="javascript:;" class="botaoCSSCinza">Resultado Apuração Eletrônica</a>
                          <?php } ?>
                        </li>
                        <li>
                          <?php if(isset($manual) || isset($eletronica)) { ?>
                          <a href="/eleicao/resultadoUrna/<?php echo $zonaAtiva.'/'.$secaoAtiva ?>" class="botaoCSS">Resultado Apuração Geral</a>
                          <?php } else { ?>
                          <a href="javascript:;" class="botaoCSSCinza">Resultado Apuração Geral</a>
                          <?php } ?>
                        </li>
                        <li>
                          <a href="/eleicao/eleicaoHome/" class="botaoCSS">Voltar</a>
                        </li>
                    </ul>
                </div><!-- /table -->
            
            </div><!-- /tela02 -->
        
      
        
        
        <script type="text/javascript">
            
            function apurar()
            {
                $(".loading").show();
                $.ajax({
                    type: "POST",
                    url: '/eleicao/apuracaoAutomatica/<?php echo $zonaAtiva?>/<?php echo $secaoAtiva?>/',
                    success: function(retorno){
                        if (retorno == 'ok'){
                            modal('alert', 'Apuração da Zona: <?php echo $zonaAtiva?> Seção: <?php echo $secaoAtiva?> efetuada com sucesso.');
                            location.href = "/eleicao/eleicaoHome/";
                        } else if (retorno == 'erro'){
                            modal('alert', 'Falha na Apuração da Zona: <?php echo $zonaAtiva?> Seção: <?php echo $secaoAtiva?>.');
                        } else {
                            modal('alert', retorno);
                        }
                        $(".loading").hide();
                    }
                });
                
                $('#modOk').click(function(){
                    $('#modal').hide(); 
                });
            }
            
            $(
                function()
                {
                    $(".modAlert").click(
                        function()
                        {
                            $("#modal").fadeOut(0);
                            $("#all").fadeIn(0);
                        }
                    )
                    $("#modOk").click(
                        function()
                        {
                            $("#modal").fadeOut(0);
                            $("#all").fadeIn(0);
                        }
                    )
                }
            )
            
        </script>
        