<body class="int2">
	<div id="all">
        <div id="content4" class="clear">
        
        	<div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
            
            <div id="tela02">
                
                <p class="title"><?php echo $_SESSION['eleicao']['titulo'];?></p>
                
                <?php 
                
                $arrResultado = array();
                foreach($arrCargos as $cargo) {
                   echo '<br /><br /><p class="subTitle">'.$cargo['car_nome'].'</p>';
                   
                   foreach($arrResultadoEleicao as $resultado) {
                        if(trim($resultado['vot_car_id']) == trim($cargo['car_id'])) {
                            $arrResultado[] = $resultado;
                        }                        
                   }
                   
                   if (count($arrResultado) > 0):
                    $candidatos = count($arrResultado); 
                    $numColuna = floor((count($arrResultado) / 2) + 0.5);
                        $xCountResultadoList = 0;
                        for($xCountResultado = 0 ; $xCountResultado < count($arrResultado); $xCountResultado++):
                            $numCandidato = $arrResultado[$xCountResultado]['cdt_numeroCandidatura'];
                               if ($xCountResultadoList < $numColuna):
                                    $resultLeft .= '<tr'.$bgLista.'>
                                                        <td class="a">'.$numCandidato.'</td>
                                                        <td class="b">'.$arrResultado[$xCountResultado]['cdt_nome'].'</td>
                                                        <td class="c">'.$arrResultado[$xCountResultado]['totalVotos'].'</td>
                                                    </tr>';
                                    $xLeft++;    
                                else:
                                    $resultRight .= '<tr>
                                                        <td class="a">'.$numCandidato.'</td>
                                                        <td class="b">'.$arrResultado[$xCountResultado]['cdt_nome'].'</td>
                                                        <td class="c">'.$arrResultado[$xCountResultado]['totalVotos'].'</td>
                                                     </tr>';
                                    $xRight++;                 
                                endif;
                                $xCountResultadoList++;
                        endfor;
                    endif;
                ?>   
                  
                <div id="table3" class="left listaLeft">
                    <table class="exibicao" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <?php echo $resultLeft;?>
                    </table>
                </div><!-- /table3 --> 
                
                <div id="table3" class="right listaRight">
                    <table class="exibicao" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <?php echo $resultRight.$brancos.$nulos;?>
                    </table>
                </div><!-- /table3 -->
                <div class="clear"></div>
                
                <?php
                   $arrResultado = '';
                   $resultLeft = '';
                   $resultRight = '';
                }
                ?>
                
                <!--
                <br /><br /><p class="subTitle">Brancos e Nulos</p>
                
                <div id="table3" class="left listaLeft">
                    <table class="exibicao" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td class="a"> --- </td>
                <!--            <td class="b">Branco</td>
                            <td class="c"><?=$arrResultadoEleicao[0]['totalVotos']?></td>
                        </tr>
                    </table>
                </div><!-- /table3 --> 
                <!--
                <div id="table3" class="right listaRight">
                    <table class="exibicao" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td class="a"> --- </td>
                <!--            <td class="b">Nulo</td>
                            <td class="c"><?=$arrResultadoEleicao[1]['totalVotos']?></td>
                        </tr>
                    </table>
                </div><!-- /table3 -->
            
                <!--div class="clear"></div-->
                
                <br /><br /><br /><p class="title"><?php echo number_format($urnasApuradas['pctUrnasApuradas'],2,'.',''); ?>% das urnas apuradas</p><br /><br /><br />
                <div id="logo2" class="clear">
                    <!--img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/logoBisaMini.png" width="63" height="40" alt=""  /-->
                </div><!-- /logo -->
            </div><!-- /tela02 -->
        </div><!-- /content -->
    </div><!-- /all -->
</div>

<script type="text/javascript">
    $(
        function()
        {
            $(".listaLeft, .listaRight").find("tr").each(
                function(i)
                {
                    if (i % 2 == 0){
                        $(this).addClass("bg");
                    }
                }
            )
        }
    )
    setInterval(function(){window.location.reload()},300000)
</script>    