<div id="tela04">
            
	<div id="votacaoTopo">
    
    	<p>ELEIÇÃO</p>
    
    </div>
    
    <div id="formVotacao">
    
        <form id="votacao" class="form-cadastro round" name="formLoginUsuario" id="formLoginUsuario" action="<?php echo URL_PORTAL?>usuario/processalogin/" method="post">
        
            <input type="text" name="login" id="login" class="validate[required] left" value="Usuário" autofocus>
            
            <input type="password" name="senha" id="senha" class="validate[required] left clear" value="Senha">
            
            <div class="clear"></div>
            
            <a href="javascript:;" class="login clear" onclick="document.formLoginUsuario.submit();">login</a>
        
        </form>
    
    </div>

</div><!-- /tela04 -->

<script type="text/javascript">

    $(document).ready(function(){
       
        $('#login').focus(function(){
            if($(this).val() == 'Usuário') {
                $(this).val('');
            }
        })
        
        $('#senha').focus(function(){
            $(this).val('');
        })
        
    });
    
    function abrirPopUp(URL) {
        var width = screen.width;
        var height = screen.height;
        
        var left = 0;
        var top =  0;
        
        window.open(URL,'janela', 'width='+width+', height='+height+', top='+top+', left='+left+', directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no, fullscreen=yes');
    }
    var URL = '<?php echo URL_PORTAL;?>urna/standByEleitorInicio/';
    <?php
        if ($_SERVER['REQUEST_METHOD'] != 'POST'):
    ?>
    //abrirPopUp(URL);
    <?php
        endif;
    ?>



</script>

<?php
	if ($msg){
?>

		<script type="text/javascript">

            $(document).ready(function(){

                if(<?php echo $_SESSION['copiaBackup'] ?>) {
                    modal('confirm','<?=$msg?>','modConfirma');
                } else {
                     modal('alert','<?=$msg?>');                
                }

                $('.modConfirma').click(function(){

                    $.ajax({
                        url: 'eleicao/restaurarBackup',
                    })
                    .done(function(msg) {
                        //console.log(msg);
                        modal('alert',msg);
                    });
                    

                   
                });


            }); 

		
        </script>

<?php
	}
?>
