      
        <script type="text/javascript">
            $(
                function()
                {
                    showMsgOk('Usuário', '<?php echo $msg?>');
                }
            )
		
		var isCtrl = false; 
		var whiteList = Array(49,50, 51, 51, 52, 53, 54, 55, 56, 57, 66, 90);
		
		$(document).keyup(function (e){ 
			if(e.which == 17){ 
			  isCtrl=false; 
			}
		}).keydown(function (e){ 
			if(e.which == 17){ 
				isCtrl=true; 
			}	
			if(isCtrl == true || inArray(e.which, whiteList)) 
			{ 
				 alert(e.which);
				 return false;
			} 
		  }
		 );	
		/*
		$(document).ready(function() {
        
        
		$(document).keyup(function(e) {
            if (inArray(e.which, whiteList)){
                alert('pode '+e.which);
                return true;
            } else {
                alert('nao pode '+e.which);
                return false;
            }
        });
    });
		*/
			
        </script>
        <section class="right">
        
        	<div class="borda-conteudo round">
            
            	<table cellpadding="0" cellspacing="0" class="tb-conteudo">
                	<tr class="titulo-tb">
                    	<td>
                        <h2>USUÁRIOS</h2>
                        <a class="bt-relatorio" href="javascript:;">Relatorio</a>
                        <a class="bt-imprimir" href="javascript:;">Imprimir</a>
                        </td>
                        
                    <tr>
                    
                    <tr class="barra-add-novo-tb">
                    	<td>
                        <a href="/usuario/add/" class="bt-add">ADICIONAR NOVO USUÁRIO</a>
                        </td>
                    </tr>
                    <tr>
                    
                    	<td>
                        	<table cellpadding="0" cellspacing="0" class="tabela-dados" id="tabela-dados">
                            
                            	<!--Título dados da Tabela-->
                            	<thead>
                                	<tr id="titulo-dados">
                                        <td><form><input type="checkbox" class="input-selecao"/></form></td>
                                    	<td width="420">Nome</td>
                                        <td width="220">Login</td>
                                        <td width="220">Perfil</td>
                                        <td class="acoes" >Ações</td>
                                	</tr>
                                </thead>
                                <!--Fim Titulos dados da Tabela-->
                                
                                <!--Rodape dados da Tabela-->
                                
                                <tfoot>
                                	<tr id="rodape-dados">
                                        <td colspan="10"><a href="javascript:;" class="bt-excluir-todos">EXCLUIR SELECIONADOS</a></td>
                                	</tr>
                                </tfoot>
                                
                                <!-- FIm Rodape dados da Tabela-->
                                
                                <!-- Dados da Tabela-->
                                <tbody>
                                    <?php
                                        if (count($arrUsuario) > 0):
                                            foreach($arrUsuario as $arrUsuario):
                                    ?>
                                	<tr>
                                        <td><form><input type="checkbox" value="<?php echo $arrUsuario->id?>" class="input-selecao"/></form></td>
                                    	<td><?php echo $arrUsuario->nome?></td>
                                        <td><?php echo $arrUsuario->login?></td>
                                        <td><?php echo $arrUsuario->tipo?></td>
                                        <td class="acoes" >
                                        	<ul> 
                                        		<li><a href="<?php echo URL_PORTAL ?>usuario/editar/<?php echo $arrUsuario->id?>" class="bt-editar" title="Editar"></a></li>
                                            	<li class="separador-acoes"></li>
                                            	<li><a href="<?php echo URL_PORTAL ?>usuario/excluir/<?php echo $arrUsuario->id?>" class="bt-excluir" title="Excluir"></a></li>
                                            </ul>
                                            
                                        </td>
                                	</tr>
                                    
                                    <?php
                                            endforeach;
                                        endif;
                                    ?>
                                </tbody>
                                <!--Fim dados da Tabela-->
                                
                            </table>
                            <script>zebra('tabela-dados','linha-cinza');</script>
                        
                        </td>
                    
                    </tr>
                    
                
                </table>
                
                <ul id="paginacao">
                	<li><a href="javascript:;" id="bt-anterior"></a></li>
                	<li><a href="javascript:;">1</a></li>
                    <li><a href="javascript:;">2</a></li>
                    <li><a href="javascript:;" class="selected">3</a></li>
                    <li><a href="javascript:;">4</a></li>
                    <li><a href="javascript:;">5</a></li>
                    <li><a href="javascript:;">6</a></li>
                    <li><a href="javascript:;" id="bt-proximo"></a></li>
                    
                </ul>
            
            <br clear="all" />
            </div>
        </section>