<?php
    //session_start();
    //echo 'statusUrna: '.$_SESSION['statusUrna'];
?>
<div id="tela01">
            
    <ul class="botoes">
        
        <li>
            <a href="javascript:;" id="emitirZeresima" class="emitir">emitir zerésima</a>
        </li>
        
        <li>
            <a href="/urna/liberarEleitor/" id="iniciarVotacao" class="votacao">votação</a>
        </li>
        
        <li>
            <a href="javascript:;" id="encerrarVotacao" class="encerrar">encerrar votação</a>
        </li>
        
        <li>
            <a href="/eleicao/emitirBU" id="emitirBU" class="emitir2">emitir bu</a>
        </li>
    
    </ul>

</div><!-- /tela01 -->

<script type="text/javascript">

    $(document).ready(function(){
        
        /* 1 - Fechada
           2 - Zeresima
           3 - Iniciada
           4 - Encerrada
           5 - BU         */
        
        statusUrna = '<?php echo $statusUrna;?>';
        statusUrna = statusUrna.trim();
       //DEBUG  status = 2;
       if (statusUrna == ''){
            statusUrna = 1;
       }
        console.log(statusUrna);
        
        
        if(statusUrna == 1) {
            $('#iniciarVotacao').attr('class','votacaoD');
            $('#encerrarVotacao').attr('class','encerrarD');
            $('#emitirBU').attr('class','emitir2D');
            $('#iniciarVotacao, #encerrarVotacao, #emitirBU').attr('href','javascript:;');
            $('#iniciarVotacao, #encerrarVotacao, #emitirBU').attr('style','cursor:default');
        }
        
        if(statusUrna > 2) {
            $('#emitirZeresima').attr('class','emitirD');
            $('#emitirZeresima').attr('href','javascript:;');
            $('#emitirZeresima').attr('style','cursor:default');
        }
        
        if(statusUrna > 3) {
            $('#emitirZeresima').attr('class','emitirD');
            $('#iniciarVotacao').attr('class','votacaoD');
            $('#encerrarVotacao').attr('class','encerrarD');
            $('#iniciarVotacao, #encerrarVotacao').attr('href','javascript:;');
            $('#iniciarVotacao, #encerrarVotacao').attr('style','cursor:default');
        }
        
        $('#emitirZeresima').click(function(){
          
         
            if(statusUrna == 1 || statusUrna == 2) {
                $.ajax({
                    url:'/eleicao/verificarEmissaoZeresima/',
                    success: function(data) {

                      console.log(data)
                      
                      if(data.trim() == 'UCV') {
                           
                            modal('confirm','Já existe votos na urna. Tem certeza que deseja apagar os votos e iniciar a votação?','modConfirma');
                            
                             $('.modConfirma').click(function(){
                                 $.ajax({
                                    url:'/eleicao/apagarDadosUrna',
                                    success: function(data) {
                                    window.location = '/eleicao/emitirZeresima/';
                                    console.log(data);
                                    //window.location.reload();
                                    }
                                });
                        
                            });
                        } else {
                            window.location = '/eleicao/emitirZeresima/'; 
                        } 
                    }
                });
           } //fim do if
            
        });
        
        $('#iniciarVotacao').click(function(){
            if(statusUrna == 2 || statusUrna == 3) {
                horarioAtual = document.getElementById("ur").innerHTML;
                horarioAtual = horarioAtual.split(':');
                horaAtual = horarioAtual[0];
                minutoAtual = horarioAtual[1];
                
                horarioInicio = '<?=$_SESSION['eleicao']['horaInicio']?>';
                horarioInicio = horarioInicio.split(':');
                horaInicio = horarioInicio[0];
                minutoInicio = horarioInicio[1];
                
                console.log(horaAtual+minutoAtual+' - '+horaInicio+minutoInicio);
                if(horaAtual+minutoAtual < horaInicio+minutoInicio) {
                    modal('alert','Aguarde o horário de início da votação.');
                    return false;  
                }
            } else if(statusUrna == 1) {
                return false;                
            }
        });
        
        $('#encerrarVotacao').click(function(){
            if(statusUrna == 3) {
                horarioAtual = document.getElementById("ur").innerHTML;
                horarioAtual = horarioAtual.split(':');
                horaAtual = horarioAtual[0];
                minutoAtual = horarioAtual[1];
                
                horarioTermino = '<?=$_SESSION['eleicao']['horaTermino']?>';
                horarioTermino = horarioTermino.split(':');
                horaTermino = horarioTermino[0];
                minutoTermino = horarioTermino[1];
                
                if(horaAtual+minutoAtual < horaTermino+minutoTermino) {
                    modal('alert','Aguarde o horário de término da votação.');
                    return false;    
                } else {
                    
                    modal('confirm','Tem certeza que deseja encerrar a votação?','btEncerraVotacao');
                    
                    $('.btEncerraVotacao').click(function(){
                        $.ajax({
                            url:'/eleicao/alterarStatus/4',
                            success: function(data) {
                                window.location.reload();
                            }
                        });
                        
                    });
                }
            } else if(statusUrna == 1) {
                return false;
            } else if(statusUrna < 3) {
                modal('alert','Votação não iniciada.');
                return false;
            }
        });
        
        $('#emitirBU').click(function(){
            if(statusUrna == 1) {
                return false;
            } else if(statusUrna < 4) {
                modal('alert','Encerre a votação para emitir os BUs.');
                return false;
            }
        });
        
        $('#modOk, #modCancela').click(function(){
            $('#modal').hide(); 
        });
        
        <?php if(isset($msg)): ?>
            var msg = '<?=$msg?>';
            
            switch (msg) { 
        	
                case 'UJA':
                    modal('alert','Urna já apurada.');
                	break;
                
                case 'CON':
                    modal('alert','Não foi possível conectar-se ao servidor.');
                	break;
                    
                case 'FCD':
                    modal('alert','Falha ao carregar dados.');
                    break;
                    
                case 'ERROR':
                    modal('alert','Erro na sincronização dos votos com o servidor.');
                    break;	
            }
      
        <?php

            endif;

            /*

            if (isset($_SESSION['transmissao'])):
                if($_SESSION['transmissao']):
        ?>
                    modal('alert','Boletim gerado com sucesso.');
        <?php
                else:
        ?>
                    modal('confirm','Tem certeza que deseja encerrar a votação?','btEncerraVotacao');
                    
                    $('.btEncerraVotacao').click(function(){
                        $.ajax({
                            url:'/eleicao/emitirBU/',
                            success: function(data) {
                                window.location.reload();
                            }
                        });
                        
                    });
                                        
        <?php
                endif;
            endif;
            */
        ?>

        
    });
    
        //alert('<?php echo $_SESSION['eleicao']['status']?>');
    <?php
        if ($_SESSION['eleicao']['status'] == 2):
            $_SESSION['eleicao']['status'] = '';
            unset($_SESSION['eleicao']['status']);
    ?>
            //location.href="/urna/gerarPdfZeresimaBu/1";
    <?php
        endif;
        
        if ($_SESSION['eleicao']['status'] == 5):
            $_SESSION['eleicao']['status'] = '';
            unset($_SESSION['eleicao']['status']);
    ?>
            //location.href="/urna/gerarPdfZeresimaBu";
    <?php
        endif;

        
        if ($_SERVER['HTTP_REFERER'] == URL_PORTAL.'eleicao/emitirBU'):
    ?>
        console.log('enviar ftp');
        
        $(
            function()
            {
                $.ajax({
                    url:'/eleicao/emitirBU/true/',
                    success: function(data) {
                        //window.location.reload();
                    }
                });
            }
        )
        
    <?php
        endif;
    ?>
        //alert('<?php echo $_SESSION['eleicao']['status']?>');

</script>
