<script type="text/javascript" src="<?php echo URL_PORTAL."templates/" . TEMPLATE . "/"?>js/actionsEleitor.js"></script>
    <div id="modal" style="display: none;">
    	<div class="sombra"></div>
        <div id="alert">
        	<div id="imgGrande" class="left">
                <img src="" alt="" />
            </div><!-- /imgGrande -->
            <div id="confirmar" >
            	<p class="numero" id="numeroCandidato"><strong></strong></p>
                <p class="nome" id="nomeCandidato"><strong></strong></p>
                <a href="javascript:;" id="confirma" class="confirma">confirma</a>
            	<a href="javascript:;" id="corrige" class="corrige">corrige</a>
            </div><!-- /confirmar -->
        </div><!--/alert-->
    </div><!-- /modal -->


	<div id="all">
        <div id="content">
        
            <div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
        
        	<div id="text">
            	<p>CANDIDATOS</p>
            </div><!-- /text -->
            
            <form name="frmCandidato" id="frmCandidato" method="post" action="/urna/computarVoto/" ativo="1">
            <?php

                foreach($_SESSION['eleicao']['cargos'] as $cargo) {
                if($cargo['car_id'] > 1) :
                    $classHidden = 'style="display: none;"';
                else:
                    $classHidden = '';
                    $ttVotos = $cargo['car_votos'];
                    $ttCargo = $cargo['car_nome'];
                endif;
            ?>
            
                <div class="listaCargos" id="cargo<?php echo $cargo['car_id']?>" <?php echo $classHidden;?> votos="<?php echo $cargo['car_votos']?>">
                    <p class="tituloEleicao" style="padding: 60px 0;"><?php echo $cargo['car_nome']?></p>
                    
                    <?php
                   /* echo "<pre>";
                    print_r($arrCandidato);die();*/
                    if ($arrCandidato):
                        foreach($arrCandidato as $candidato): 
                            if (!in_array($candidato['cdt_numeroCandidatura'], array(98, 99)) && $candidato['car_id'] == $cargo['car_id']):
                    ?>
                        	<ul>
                                <li class="candidato candidato<?php echo $candidato['cdt_oab'];?>" dados="<?php echo $candidato['cdt_oab'].'|'.$candidato['cdt_nome'].'|'.$candidato['cdt_numeroCandidatura']?>"> 
                                    <div id="img">
                                        <img src="<?php echo URL_PORTAL."templates/" . TEMPLATE . "/"?>/img/fotos/<?php echo $candidato['cdt_fotoCandidato']?>" style="width: 250px;" />
                                        <p><?php echo $candidato['cdt_numeroCandidatura']?></p>
                                    </div>
                                    <p class="nome-candidato"><?php echo $candidato['cdt_nome']?></p>
                                </li>
                            </ul>
                    <?
                            endif;
                        endforeach;
                    endif;
                    ?>
                </div>
            <?
            }
            ?>
            <br clear="all" />
            <fieldset id="votos"></fieldset>
            
            
            </form>
        </div><!-- /content -->
        <div id="botoes" class="clear">
            <a href="javascript:;" id="branco" class="opcCandidato branco" dados="<?php echo BRANCO_OAB?>|Voto em Branco|<?php echo BRANCO_NUMERO?>" style="margin-left: 100px;">branco</a>
            <a href="javascript:;" id="nulo" class="opcCandidato nulo" dados="<?php echo NULO_OAB?>|Voto em Nulo|<?php echo NULO_NUMERO?>" style="margin-left: 100px;">nulo</a>
        </div><!-- /botoes -->
        <div id="ttVotos" class="clear">
            Votos <span>0</span> de <?php echo $ttVotos; if ($ttVotos > 1):?> para <?php echo $ttCargo; endif;?>
        </div>
    </div><!-- /all -->

<script type="text/javascript">
    $(document).ready(function(){
        
        oab = '';
        votos = 0;
        
        $('.candidato, .opcCandidato').click(function(){
            dados = $(this).attr('dados').split('|');
            oab = dados[0];
            var numeroCandidato = dados[2];
            //alert(numeroCandidato);
            if (numeroCandidato == "98")
                numeroCandidato = "&nbsp;";
            else if (numeroCandidato == 99){
                numeroCandidato = "&nbsp;";
            }
            $('#nomeCandidato').empty().html('<strong>'+dados[1]+'</strong>'); console.log(dados[1]);
            //if(numeroCandidato > 0) {
                $('#numeroCandidato').empty().html('<strong>'+numeroCandidato+'</strong>');
            //} else {
            //    $('#numeroCandidato').empty();
            //}
            
            if(dados[0] == '<?php echo BRANCO_OAB?>') {
                var imagem = '<?php echo URL_PORTAL."templates/" . TEMPLATE . "/"?>/img/fotos/branco.jpg';
            } else if(dados[0] == '<?php echo NULO_OAB?>') {
                var imagem = '<?php echo URL_PORTAL."templates/" . TEMPLATE . "/"?>/img/fotos/nulo.jpg';
            } else {
                var imagem = $(".candidato"+oab).find("img").attr("src");    
            }
            
            console.log(imagem);
            $("#imgGrande > img").attr({"src": imagem, "width": "330px", "height": "330px"});
            
            showModal();
        });
        
        $('#corrige').click(function(){ 
            closeModal();
        })
        
        $('#confirma').click(function(){
            
            var voto = '<input type="hidden" name="votos[]" value="'+oab+'" />';
            voto += '<input type="hidden" name="cargo[]" value="'+$("#frmCandidato").attr("ativo")+'" />';
            $('#votos').append(voto);
            
            var qtdVotos = $("#votos").find("input").length;
            votos++;
            
            $('.candidato').each(function(){
                dados = $(this).attr('dados').split('|');
                if(dados[0] == oab) {
                    $(this).removeClass('candidato');
                    $(this).unbind('click');
                    $(this).fadeTo('fast', 0.5);
                }
            })
            
            closeModal();
            
            var votacaoAtiva = $("#frmCandidato").attr("ativo");
            votacaoAtiva = parseInt(votacaoAtiva);
            var ttVotos = $("#cargo"+votacaoAtiva).attr("votos");
            ttVotos = parseInt(ttVotos);
            
            
            if(votos >= ttVotos) {
                if (votacaoAtiva == <?php echo count($_SESSION['eleicao']['cargos'])?>){
                    $('.candidato').each(function(){
                         $(this).unbind('click');
                    });
                    $('.opcCandidato').each(function(){
                         $(this).unbind('click');
                    });
                    
                    clearInterval(statusEleitor);           
                    $('#frmCandidato').submit();
                } else {
                    votacaoAtiva++;
                    votos = 0;
                    $("#frmCandidato").attr("ativo", votacaoAtiva); 
                    votacaoAtiva = $("#frmCandidato").attr("ativo");
                    $(".listaCargos").hide();
                    $("#cargo"+votacaoAtiva).show();
                }
                
            }
            
            var txtVotacao = '';
            
            if (ttVotos > 1){
                txtVotacao = " para "+$("#cargo"+votacaoAtiva).find('.tituloEleicao').html();
            }
            
            $("#ttVotos").html("Votos <span>" + votos + "</span> de "+ttVotos+txtVotacao);
            
        });
        
        //var verificaStatus = setInterval('verificaStatus()',3000);
         
    });

    function verificaStatus() {
        $.ajax({
            url:'/eleicao/verificarStatus/',
            success: function(data) {
                console.log(data.trim())
                if(data.trim() == 'M') {
                    window.location = '/urna/standByEleitor/';    
                } else {
                    console.log("Eleitor");
                }
            }
        });
    }

    var mensagem="";
    function clickIE() {
            if (document.all) 
            {
                (mensagem);
                return false;
            }
        }
    function clickNS(e) {
        if (document.layers||(document.getElementById&&!document.all)) 
        {
            if (e.which==2||e.which==3) 
            {
                (mensagem);
                return false;
            }
        }
    }
    if (document.layers) {
        document.captureEvents(Event.MOUSEDOWN);document.onmousedown=clickNS;
    } else {
        document.onmouseup=clickNS;document.oncontextmenu=clickIE;
    }
    document.oncontextmenu = new Function("return false")
// -->     
    

</script>
