<script type="text/javascript" src="<?php echo URL_PORTAL."templates/" . TEMPLATE . "/"?>js/actionsEleitor.js"></script>

<div id="modal" style="display: none;">
	<div class="sombra"></div>
  <div id="alert">
  	<div id="imgGrande" class="left">
      <img src="" alt="" />
    </div><!-- /imgGrande -->
    <div id="confirmar" >
    	<p class="numero" id="numeroCandidato"><strong></strong></p>
      <p class="nome" id="nomeCandidato"><strong></strong></p>
      <a href="javascript:;" id="confirma_" class="confirma">confirma</a>
    	<a href="javascript:;" id="corrige_" class="corrige">corrige</a>
    </div><!-- /confirmar -->
  </div><!--/alert-->
</div><!-- /modal -->

<div id="modal2" style="display: none;">
  <div class="sombra"></div>
  <div id="alert">
    <div id="confirmar" >
      <p class="tituloEleicao" id="tituloEleicao"><strong></strong></p>
    </div><!-- /confirmar -->
  </div><!--/alert-->
</div><!-- /modal2 -->

<div id="all">
  <div id="content">
    <div id="bgTop">
    </div>     
    <div id="bgRight">
    </div>     
    <div id="bgLeft">
    </div>     
    <div id="bgBottom">
    </div>
  	<div id="text">
      <p>CANDIDATO</p>
    </div><!-- /text -->    
    <form name="frmCandidato" id="frmCandidato" method="post" action="/urna/computarVoto/" ativo="1">
      <div class="listaCargos" id="cargo<?php echo $cargo['car_id']?>" <?php echo $classHidden;?> votos="<?php echo $cargo['car_votos']?>">
        <p class="tituloEleicao" style="padding: 60px 0;"><?php echo $cargo['car_nome']?></p>
        <input type="text" class="inputCandidato" id="inputCandidato" name="inputCandidato" maxlength="3" autocomplete="off" value="" />
      </div>   
      <br clear="all" />
      <fieldset id="votos"></fieldset>      
    </form>
  </div><!-- /content -->
  <div id="ttVotos" class="clear">
    Voto <span id="votoAtual">0</span> de <span id="cargoVotos">0</span>
  </div>
</div><!-- /all -->

<script type="text/javascript" src="<?php echo URL_PORTAL."templates/" . TEMPLATE . "/"?>js/screen.js"></script>
<script type="text/javascript">

//document.title = 'Voltar';

var cargo = <?php echo json_encode($_SESSION['eleicao']['cargos']); ?>;

var votosCandidatos = Array();
var totalCargos = cargo.length;
var cargoAtual = 1;
var totalVotosCargo = 0;
var votoAtual = 1;
var cargoNome = '';

getDadosCargo(cargoAtual-1);

function getDadosCargo(cargoAtual) {
  cargoNome = cargo[cargoAtual].car_nome;
  $('.tituloEleicao').html(cargoNome);
  if(cargoAtual > 0) {
    showModal2();
    setTimeout(closeModal2, 2000);
  }
  totalVotosCargo = cargo[cargoAtual].car_votos;
  $('#cargoVotos').html(totalVotosCargo);
  $('#votoAtual').html(votoAtual);
}

$(document).ready(function() {
  
  $('#inputCandidato').focus();
  
  $(document).keydown(function(event) {

    if($('#modal2').is(":visible")) {
      return false;
    }
    
    TeclasPermitidas = new Array(109,107,111,106, /*(-,+,/,*)*/
 				67, 45,35,40,34,37,12,39,36,38,33); 
    var CodigoTecla = (window.event) ? event.keyCode : event.which;
    
    if (CodigoTecla == 111){ //SE APERTAR A TECLA BRANCO
     pesquisarCandidato('<?php echo BRANCO_NUMERO?>');
     $('#inputCandidato').val('<?php echo BRANCO_OAB?>');
     return false;
    } else if (CodigoTecla == 106){ //SE APERTAR A TECLA NULO
     pesquisarCandidato('<?php echo NULO_NUMERO?>');
     $('#inputCandidato').val('<?php echo NULO_OAB?>');
     return false;
    } else if (CodigoTecla == 109){ //SE APERTAR A TECLA CORRIGE
     corrigeVoto();
     return false;
    } else if (CodigoTecla == 107){ //SE APERTAR A TECLA CONFIRMA
     confirmarVoto();       
     return false;
    } else if (CodigoTecla == 67) {
	if(event.shiftKey){
     	    lockMesario();
	}
     return false;
    } else if ($.inArray(CodigoTecla,TeclasPermitidas) != -1){
        $('#inputCandidato').focus();
        return true;
    }
    return false;
  }); 
  
  $('#inputCandidato').keydown(function(event) {
    
    if($('#modal2').is(":visible")) {
      return false;
    }

    TeclasPermitidas = new Array(111,106,109); // (/,*)
    TeclasNumericas = new Array(45,35,40,34,37,12,39,36,38,33,67);

    var CodigoTecla = (window.event) ? event.keyCode : event.which;

    if (CodigoTecla == 67) {
	    $('#inputCandidato').val('');
    }
	
	if ($.inArray(CodigoTecla,TeclasNumericas) != -1){
	var valorInput = $('#inputCandidato').val();
	var valorFinal = '';
	switch(CodigoTecla) {
  	  case 45: 
	    valorFinal = valorInput.concat('0');
	    break;
	  case 35:
	    valorFinal = valorInput.concat('1');
	    break;
	  case 40:
	    valorFinal = valorInput.concat('2');
	    break;
	  case 34:
	    valorFinal = valorInput.concat('3');
	    break;
	  case 37:
	    valorFinal = valorInput.concat('4');
	    break;
	  case 12:
	    valorFinal = valorInput.concat('5');
	    break;
	  case 39:
	    valorFinal = valorInput.concat('6');
	    break;
	  case 36:
	    valorFinal = valorInput.concat('7');
	    break;
	  case 38:
	    valorFinal = valorInput.concat('8');
	    break;
	  case 33:
	    valorFinal = valorInput.concat('9');
	    break;
	  case 67:
	    valorFinal = '';
	    if(event.shiftKey)
		lockMesario();
	    break;
	}
	$('#inputCandidato').val(valorFinal);
        }

    <?php if($_SESSION['acessibilidade']) { ?>
      var oggfile = "<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>mp3/"+CodigoTecla+".ogg";
      var audio = new Audio(oggfile);
      audio.play();
    <?php } ?>

    if(CodigoTecla == 109){ //SE APERTAR A TECLA CORRIGE
      corrigeVoto();

      return false;
    }

    if ($.inArray(CodigoTecla,TeclasPermitidas) != -1){
     return true;
    }
     return false;
    });
  
  $('#inputCandidato').keyup(function(event) {
    if($('#inputCandidato').val().length >= 3) {
      var numeroCandidato = $('#inputCandidato').val();
      if(verificarDuplicidadeVoto(numeroCandidato)) {

      var foto = 'inexistente.png' ;
      var imagem = '<?php echo URL_PORTAL."templates/" . TEMPLATE . "/"?>/img/fotos/';
      $("#imgGrande > img").attr({"src": imagem, "width": "1px", "height": "1px"});
      $('#numeroCandidato').text(numeroCandidato);
      $('#nomeCandidato').text('Esse candidato já foi selecionado.');
      $('#confirma_').css('display','none');
      showModal();
      $('#acaoVoto').focus();

      } else {
        pesquisarCandidato(numeroCandidato);
      }
    }
  }); 

  function verificarDuplicidadeVoto(numeroCandidato) {

      if(numeroCandidato != <?php echo NULO_NUMERO?> && numeroCandidato != <?php echo BRANCO_NUMERO?>) {
        candidato = cargoAtual+numeroCandidato;
        if($.inArray(candidato, votosCandidatos) != -1) {
          return true;
        }
      }
      return false;
  }
    
  function corrigeVoto() {
    $('#inputCandidato').val('');
    $('#inputCandidato').focus;
    closeModal();
  }
  
  function confirmarVoto() {
    
    var numeroCandidato = $('#inputCandidato').val();

    if(!verificarDuplicidadeVoto(numeroCandidato) || numeroCandidato == <?php echo BRANCO_NUMERO?> || numeroCandidato == <?php echo NULO_NUMERO?> ) {
      
      $('#inputCandidato').val('');
      if(numeroCandidato != '') {
        
        sleep(1000);

        var voto = '<input type="hidden" class="listaVotos" name="votos[]" value="'+numeroCandidato.replace('/','')+'" />';
            voto += '<input type="hidden" class="listaCargosEscolhido" name="cargo[]" value="'+cargoAtual+'" />';
        $('#votos').append(voto);
        votosCandidatos.push(cargoAtual+numeroCandidato.replace('/',''));
        
        if(votoAtual >= totalVotosCargo) {
          cargoAtual++;
          if(cargoAtual > totalCargos) {
            $('#frmCandidato').submit();
          } else {
            votoAtual = 0;
            getDadosCargo(cargoAtual-1);
            corrigeVoto();
          }
        } else {
          corrigeVoto();
        }

        votoAtual++;
        $('#votoAtual').html(votoAtual);

    } 
    }   
  }

  function pesquisarCandidato(numeroCandidato) {    
    
    var lockCandidato = false;
    
    if(lockCandidato){
	return false;
    }
    lockCandidato = true;
    $.ajax({
      url: "/candidato/getDadosCandidato/",
      method: "POST",
      data: { numeroCandidato: numeroCandidato, cargoCandidato: cargoAtual },
      dataType: "json",
      async: false
    })
    .done(function( data ) {
      var nome = data.nome != null ? data.nome : 'Número Inválido para '+cargoNome ; 
      $('#nomeCandidato').empty().html('<strong>'+nome+'</strong>');

	
      
	if(data.nome != null) {
	  var nome = data.nome ;
          $('#confirma_').css('display','inline-block');
	} else {
   	  var nome = 'Número Inválido para '+cargoNome ;
	  $('#confirma_').css('display','none');
	}

      var numeroCandidato = data.numero;
      $('#inputCandidato').val(numeroCandidato);
      if (numeroCandidato == '<?php echo BRANCO_OAB?>' || 
          numeroCandidato == '<?php echo NULO_NUMERO?>' || 
          numeroCandidato == null) {
          numeroCandidato = "&nbsp;";
      } 
      $('#numeroCandidato').empty().html('<strong>'+numeroCandidato+'</strong>');
      
      var foto = data.foto != null ? data.foto : 'inexistente.png' ;
      var imagem = '<?php echo URL_PORTAL."templates/" . TEMPLATE . "/"?>/img/fotos/'+foto;
      $("#imgGrande > img").attr({"src": imagem, "width": "330px", "height": "330px"});
      
      if(data.nome == null) {
        $('#inputCandidato').val('');
        //setTimeout(corrigeVoto, 3000)
      }
      
      showModal();
      $('#acaoVoto').focus();
      lockCandidato = false;
    });
  }    

  var mensagem="";
  function clickIE() {
    if (document.all) {
      (mensagem);
      return false;
    }
  }
  function clickNS(e) {
    if (document.layers||(document.getElementById&&!document.all)) {
      if (e.which==2||e.which==3) {
        (mensagem);
        return false;
      }
    }
  }
  if (document.layers) {
    document.captureEvents(Event.MOUSEDOWN);document.onmousedown=clickNS;
  } else {
    document.onmouseup=clickNS;document.oncontextmenu=clickIE;
  }
  document.oncontextmenu = new Function("return false")   ;

});
</script>
