<div id="tela04">
    
    <div id="modal" style="display: none;">
    	<div class="sombra"></div>
        <div id="alert">
        	<div id="confirmar" >
            	<p class="numero" id="numeroCandidato"><strong></strong></p>
                <p class="nome" id="modMensagem"><strong></strong></p>
                <a href="javascript:;" id="modOk" class="modOk modAlert">ok</a>
                <a href="javascript:;" id="modConfirma" class="modConfirma modConfirm">confirma</a>
            	<a href="javascript:;" id="modCancela" class="modCancela modConfirm">cancela</a>
            </div><!-- /confirmar -->
        </div><!--/alert-->
    </div><!-- /modal -->
            
	<div id="votacaoTopo">
    
    	<p>VOTANTES DO DIA</p>
    
    </div>
    
    <div id="formVotacao">
    
        <form id="votacao" class="form-cadastro round" name="formLoginUsuario" id="formLoginUsuario" action="" method="post">
        
            <input type="text" name="data" id="data" class="left" placeholder="Informe a Data" OnKeyPress="formatar(this, '##/##/#####')" maxlength="10" />
        
            <input type="password" name="senha" id="senha" class="left" placeholder="Informe a Senha" />
            
            <div class="clear"></div>
            
            <a href="javascript:;" class="ok clear" onclick="document.formLoginUsuario.submit();">login</a>
        
        </form>
    
    </div>

</div><!-- /tela04 -->



<?php
	if (!$result && $_SERVER['REQUEST_METHOD'] == 'POST'){
?>

		<script type="text/javascript">

            $(document).ready(function(){
    			modal('alert','<?=$msg?>');
                
                $('#modOk').click(function(){
                    //location.href = '<?php echo URL_PORTAL ?>usuario/login/';
                });
                
            });
		
        </script>

<?php
	}
?>