<div>
    <div>
    
    <div id="modal" style="display: none;">
    	<div class="sombra"></div>
        <div id="alert">
        	<div id="confirmar" >
            	<p class="numero" id="numeroCandidato"><strong></strong></p>
                <p class="nome" id="modMensagem"><strong></strong></p>
                <a href="javascript:;" id="modOk" class="modOk modAlert">ok</a>
                <a href="javascript:;" id="modConfirma" class="modConfirma modConfirm">confirma</a>
            	<a href="javascript:;" id="modCancela" class="modCancela modConfirm">cancela</a>
            </div><!-- /confirmar -->
        </div><!--/alert-->
    </div><!-- /modal -->

<?php
	if (!$result){
?>

		<script type="text/javascript">

            $(document).ready(function(){
    			modal('alert','<?=$msg?>');
                
                $('#modOk').click(function(){
                    location.href = '<?php echo URL_PORTAL ?>usuario/login/';
                });
                
            });
		
        </script>

<?php
	}
?>