<script type="text/javascript" src="<?php echo URL_PORTAL."templates/" . TEMPLATE . "/"?>js/actionsEleitor.js"></script>
    <div id="modal" style="display: none;">
    	<div class="sombra"></div>
        <div id="alert">
        	<div id="imgGrande" class="left">
                <img src="" alt="" />
            </div><!-- /imgGrande -->
            <div id="confirmar" >
            	<p class="numero" id="numeroCandidato"><strong></strong></p>
                <p class="nome" id="nomeCandidato"><strong></strong></p>
                <a href="javascript:;" id="confirma_" class="confirma">confirma</a>
            	<a href="javascript:;" id="corrige_" class="corrige">corrige</a>
            </div><!-- /confirmar -->
        </div><!--/alert-->
    </div><!-- /modal -->


	<div id="all">
        <div id="content">
        
            <div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
        
        	<div id="text">
            	<p>CANDIDATO</p>
            </div><!-- /text -->
            
            <form name="frmCandidato" id="frmCandidato" method="post" action="/urna/computarVoto/" ativo="1">
            <?php
                foreach($_SESSION['eleicao']['cargos'] as $cargo) {
                if($cargo['car_id'] > 1) :
                    $classHidden = 'style="display: none;"';
                else:
                    $classHidden = '';
                    $ttVotos = $cargo['car_votos'];
                    $ttCargo = $cargo['car_nome'];
                endif;
            ?>
            
                <div class="listaCargos" id="cargo<?php echo $cargo['car_id']?>" <?php echo $classHidden;?> votos="<?php echo $cargo['car_votos']?>">
                    <p class="tituloEleicao" style="padding: 60px 0;"><?php echo $cargo['car_nome']?></p>
            
                   <input type="text" class="inputCandidato" id="inputCandidato" name="inputCandidato" maxlength="6" autocomplete="off" value="" />
                  
                   
                </div>
            <?
            }
            ?>
            <br clear="all" />
            <fieldset id="votos"></fieldset>
            
            </form>
        </div><!-- /content -->
        <!--div id="botoes" class="clear">
            <a href="javascript:;" id="branco" class="opcCandidato branco" dados="<?php echo BRANCO_OAB?>|Voto em Branco|<?php echo BRANCO_NUMERO?>">branco</a>
            <a href="javascript:;" id="nulo" class="opcCandidato nulo" dados="<?php echo NULO_OAB?>|Voto em Nulo|<?php echo NULO_NUMERO?>">nulo</a>
        </div><!-- /botoes -->
        <!--div id="ttVotos" class="clear">
            Votos <span>0</span> de <?php echo $ttVotos; if ($ttVotos > 1):?> para <?php echo $ttCargo; endif;?>
        </div>
    </div><!-- /all -->

<script type="text/javascript">

document.title = 'Votar';

$(document).ready(function() {
  
  $('#inputCandidato').focus();
  
  $(document).keydown(function(event) {
    TeclasPermitidas = new Array(109,107,111,106); // (-,+,/,*)
    for(x=96;x<=105;x++){ // NUMEROS TECLADO NUMERICO
      TeclasPermitidas.push(x);
    }
    
    var CodigoTecla = (window.event) ? event.keyCode : event.which;
    
    if (CodigoTecla == 111){ //SE APERTAR A TECLA BRANCO
     pesquisarCandidato('<?php echo BRANCO_NUMERO?>');
     $('#inputCandidato').val('<?php echo BRANCO_OAB?>');
     return false;
    } else if (CodigoTecla == 106){ //SE APERTAR A TECLA NULO
     pesquisarCandidato('<?php echo NULO_NUMERO?>');
     $('#inputCandidato').val('<?php echo NULO_OAB?>');
     return false;
    } else if (CodigoTecla == 109){ //SE APERTAR A TECLA CORRIGE
     corrigeVoto();
     console.log('corrige');
     return false;
    } else if (CodigoTecla == 107){ //SE APERTAR A TECLA CONFIRMA
     confirmarVoto();       
     return false;
    } else
    if ($.inArray(CodigoTecla,TeclasPermitidas) != -1){
      $('#inputCandidato').focus();
     console.log(CodigoTecla);
     return true;
    }
    return false;
  }); 
  
  $('#inputCandidato').keydown(function(event) {
    TeclasPermitidas = new Array(111,106,109); // (/,*)
    for(x=96;x<=105;x++){ // NUMEROS TECLADO NUMERICO
      TeclasPermitidas.push(x);
    }
    var CodigoTecla = (window.event) ? event.keyCode : event.which;
    
	<?php if($_SESSION['acessibilidade']) { ?>
    var oggfile = "<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>mp3/"+CodigoTecla+".ogg";
    var audio = new Audio(oggfile);
    audio.play();
	<?php } ?>

if (CodigoTecla == 109){ //SE APERTAR A TECLA CORRIGE
     corrigeVoto();
     console.log('corrige');
     return false;
    }

    if ($.inArray(CodigoTecla,TeclasPermitidas) != -1){
     return true;
    }
    return false;
  });
  
  $('#inputCandidato').keyup(function(event) {
    if($('#inputCandidato').val().length == 6) {
      var numeroCandidato = $('#inputCandidato').val();
      pesquisarCandidato(numeroCandidato);
    }
  }); 
  
      
      
      
      
     /* 
        
        $('#confirma').click(function(){
            
            var voto = '<input type="hidden" name="votos[]" value="'+oab+'" />';
            voto += '<input type="hidden" name="cargo[]" value="'+$("#frmCandidato").attr("ativo")+'" />';
            $('#votos').append(voto);
            
            var qtdVotos = $("#votos").find("input").length;
            votos++;
            
            $('.candidato').each(function(){
                dados = $(this).attr('dados').split('|');
                if(dados[0] == oab) {
                    $(this).removeClass('candidato');
                    $(this).unbind('click');
                    $(this).fadeTo('fast', 0.5);
                }
            })
            
            closeModal();
            
            var votacaoAtiva = $("#frmCandidato").attr("ativo");
            votacaoAtiva = parseInt(votacaoAtiva);
            var ttVotos = $("#cargo"+votacaoAtiva).attr("votos");
            ttVotos = parseInt(ttVotos);
            
            
            if(votos >= ttVotos) {
                if (votacaoAtiva == <?php echo count($_SESSION['eleicao']['cargos'])?>){
                    $('.candidato').each(function(){
                         $(this).unbind('click');
                    });
                    $('.opcCandidato').each(function(){
                         $(this).unbind('click');
                    });
                    
                    clearInterval(statusEleitor);           
                    $('#frmCandidato').submit();
                } else {
                    votacaoAtiva++;
                    votos = 0;
                    $("#frmCandidato").attr("ativo", votacaoAtiva); 
                    votacaoAtiva = $("#frmCandidato").attr("ativo");
                    $(".listaCargos").hide();
                    $("#cargo"+votacaoAtiva).show();
                }
                
            }
            
            var txtVotacao = '';
            
            if (ttVotos > 1){
                txtVotacao = " para "+$("#cargo"+votacaoAtiva).find('.tituloEleicao').html();
            }
            
            $("#ttVotos").html("Votos <span>" + votos + "</span> de "+ttVotos+txtVotacao);
            
        });
        
        //var verificaStatus = setInterval('verificaStatus()',3000);
         
    });
*/

    
  function corrigeVoto() {
    $('#inputCandidato').val('');
    $('#inputCandidato').focus;
    closeModal();
  }
  
  function confirmarVoto() {
    
    var numeroCandidato = $('#inputCandidato').val();
    console.log(numeroCandidato);
    if(numeroCandidato != '') {
      
      var voto = '<input type="hidden" name="votos[]" value="'+numeroCandidato+'" />';
          voto += '<input type="hidden" name="cargo[]" value="'+$("#frmCandidato").attr("ativo")+'" />';
      $('#votos').append(voto);
      
      var qtdVotos = $("#votos").find("input").length;
            votos++;
            
      var votacaoAtiva = $("#frmCandidato").attr("ativo");
            votacaoAtiva = parseInt(votacaoAtiva);
            var ttVotos = $("#cargo"+votacaoAtiva).attr("votos");
            ttVotos = parseInt(ttVotos);
            
            
            if(votos >= ttVotos) {
                if (votacaoAtiva == <?php echo count($_SESSION['eleicao']['cargos'])?>){
                    clearInterval(statusEleitor);           
                    $('#frmCandidato').submit();
                } else {
                    votacaoAtiva++;
                    votos = 0;
                    $("#frmCandidato").attr("ativo", votacaoAtiva); 
                    votacaoAtiva = $("#frmCandidato").attr("ativo");
                    $(".listaCargos").hide();
                    $("#cargo"+votacaoAtiva).show();
                }
                
            }
            
            var txtVotacao = '';
            
            if (ttVotos > 1){
                txtVotacao = " para "+$("#cargo"+votacaoAtiva).find('.tituloEleicao').html();
            }
            
            $("#ttVotos").html("Votos <span>" + votos + "</span> de "+ttVotos+txtVotacao);      
            
            
            
            
      
      $('#frmCandidato').submit();
      console.log('confirma');
    }   
  }
  
  function pesquisarCandidato(numeroCandidato) {        
    $.ajax({
      url: "/candidato/getDadosCandidato/",
      method: "POST",
      data: { numeroCandidato: numeroCandidato },
      dataType: "json",
      async: false
    })
    .done(function( data ) {
      var nome = data.nome != null ? data.nome : 'Candidato Inexistente' ; 
      $('#nomeCandidato').empty().html('<strong>'+nome+'</strong>');
      
	if(data.nome != null) {
	  var nome = data.nome ;
          $('#confirma_').css('display','inline-block');
	} else {
   	  var nome = 'Candidato Inexistente' ;
	  $('#confirma_').css('display','none');
	}




      var numeroCandidato = data.numero;
      if (numeroCandidato == '<?php echo BRANCO_OAB?>' || 
          numeroCandidato == '<?php echo NULO_NUMERO?>' || 
          numeroCandidato == null) {
          numeroCandidato = "&nbsp;";
      } 
      $('#numeroCandidato').empty().html('<strong>'+numeroCandidato+'</strong>');
      
      var foto = data.foto != null ? data.foto : 'inexistente.png' ;
      var imagem = '<?php echo URL_PORTAL."templates/" . TEMPLATE . "/"?>/img/fotos/'+foto;
      $("#imgGrande > img").attr({"src": imagem, "width": "330px", "height": "330px"});
      
      if(data.nome == null) {
        $('#inputCandidato').val('');
        setTimeout(corrigeVoto, 3000)
      }
      
      showModal();
      $('#acaoVoto').focus();
    });
  }    
    
  var mensagem="";
  function clickIE() {
    if (document.all) {
      (mensagem);
      return false;
    }
  }
  function clickNS(e) {
    if (document.layers||(document.getElementById&&!document.all)) {
      if (e.which==2||e.which==3) {
        (mensagem);
        return false;
      }
    }
  }
  if (document.layers) {
    document.captureEvents(Event.MOUSEDOWN);document.onmousedown=clickNS;
  } else {
    document.onmouseup=clickNS;document.oncontextmenu=clickIE;
  }
  document.oncontextmenu = new Function("return false")   
 
});
</script>
