<body class="int3">

    <div id="modal" style="display: none;">
    	<div class="sombra"></div>
        <div id="alert">
        
        <div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
        
        	<div id="confirmar" >
            	<p class="numero" id="numeroCandidato"><strong></strong></p>
                <p class="nome" id="modMensagem"><strong></strong></p>
                <a href="javascript:;" onclick="closeModal()" id="modOk" class="modOk modAlert">ok</a>
                <a href="javascript:;" id="modConfirma" class="modConfirma modConfirm">confirma</a>
            	<a href="javascript:;" onclick="closeModal()" id="modCancela" class="modCancela modConfirm">cancela</a>
            </div><!-- /confirmar -->
        </div><!--/alert-->
    </div><!-- /modal -->

	<div id="all">
    
    	<div id="logoPrincipal2">
        
            <img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/logoBisa.png" width="133" height="82" alt=""  />
        
        </div><!-- /logo -->
        
        <div id="content3" class="clear">
        
        	<div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
            
            <div id="tela02">
            
            	<div id="votacaoTopo">
                
                	<p>Adicionar Eleitores</p>
                
                </div>
                
                <div id="formVotacao">
                
                    <form class="form-cadastro" method="post" action="/eleitor/processaAddEleitores/" id="frmApuracaoManual">
                        
                        <textarea id="eleitores" name="eleitores" rows="20" cols="60" style="color: #000; font-size: 20px"></textarea>
                        
                        <label> <input type="submit" id="enviar" value="ENVIAR" class="bt-enviar round " /></label>
                        
                    </form>
                
                </div><!-- /table -->
            
            </div><!-- /tela02 -->

        <script type="text/javascript">
        
            $(
                function()
                {
                    $("#frmApuracaoManual").submit(
                        function()
                        {
                            var eleitores = $("#eleitores");
                            if (eleitores.val() == ''){
                                alert('Informe os eleitores');
                                eleitores.focus();
                                return false;
                            }
                        }
                    )
                }
            )
        </script>