<body class="int3">
    
    <div id="all">
    
        <div id="logoPrincipal2">
        
            <img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/logo/<?php echo LOGO?>" width="500" alt=""  />
        
        </div><!-- /logo -->
        
        <div id="content3" class="clear">
        
            <div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
            
            <div id="tela02">
            
                <div id="votacaoTopo">
                
                    <p>Deferir Candidatos</p>
                
                </div>
                
                <div id="contentCarga">
    
                    <form id="formDeferir" class="form-cadastro round" name="formLoginUsuario" action="#" method="post">
                        
                        <div class="inputDeferir">
                            <label>Número Candidato</label>
                            <input type="text" name="candidato" id="candidato" class="validate[required]" maxlength="6" />
                        </div>
   
                        <div class="inputDeferir">
                        <br><br>
                            <span id="buscarCandidato">Buscar</span>
                        </div>
                    </form>
                     
                
                </div>  

                <div id="table">
                
                            <table class="urna" id="tableDeferir"  width="100%" border="0" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>                                
                                        <th width="30%">Candidato</th>
                                        <th width="10%">Número</th>                           
                                        <th width="40%">Região - Conselho</th>
                                        <th width="20%">Deferir</th>
                                    </tr>
                                </thead>
                                <tbody id="candidatoDeferir">
                                 
                                </tbody>
                                
                            </table>
                        
                         

                        </div><!-- /table -->      

                 <div id="modalDeferimento">
                    <form method="post" enctype="multipart/form-data" id="formDeferimento" action="/candidato/deferirCandidato/">
                        <input type="hidden" name="candidato" id="candidatoDeferimento" />
                        <input type="hidden" name="statusDeferimento" id="statusDeferimento" />
                        <label>Número Protocolo</label><br><br>
                        <input type="text" name="protocolo" id="protocolo" /><br>
                        <label>Imagem do requerimento</label>
                        <input type="file" name="imagem" id="imagem" /><br><br><br>
                        <input type="submit" name="enviar" id="enviar" value="ENVIAR"/>
                        <input type="reset" name="cancelar" id="cancelar" value="Cancelar" />
                    </form>
                </div>           
            
                
            </div><!-- /tela02 -->


<script type="text/javascript">

    $(document).ready(function(){


        var status = '';
        var candidato = '';

        $('#buscarCandidato').click(function(){

            var candidato    = $('#candidato').val();

            $('#modalDeferimento').css('display', 'none');
          
            $.ajax({
                url: '/candidato/buscaCandidatoDeferido/',
                type: 'post',
                dataType: 'json',
                data: {candidato:candidato},
                beforeSend: function( xhr ) {
                    $("td").remove();
                     $("#candidatoDeferir").after('<tbody><tr>'                             
                                                    +'<td colspan="4" align="center">Aguarde, verificando os dados...</td>'                                                  
                                                +'</tr></tbody>');
               
              }

            })
            .done(function(result) {

                $("td").remove();
               
                
               if (result != undefined) {   

                    $('#candidatoDeferimento').val(result.cdt_oab);
                    $('#statusDeferimento').val(result.deferido);

                    if(result.deferido == 'I'){
                        status = '<img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/btNao.png" id="deferirCandidato" data-status="D">DEFERIR';
                    }else{
                         status = '<img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/btNao.png" id="deferirCandidato" data-status="I">INDEFERIR';
                    }

                    $("#candidatoDeferir").after('<tbody><tr>'                             
                                                    +'<td>'+result.cdt_nome+'</td>'
                                                    +'<td>'+result.cdt_oab+'</td>'                                                   
                                                    +'<td>'+result.secao_nome+'</td>'
                                                    +'<td>'+status+'</td>'
                                                +'</tr></tbody>');
                    $('#candidatoDeferir').css('display', 'block');

                 

               } else{
                    $("#candidatoDeferir").after('<tbody><tr>'                             
                                                    +'<td colspan="4" align="center">Candidato Não encontrado!</td>'                                                  
                                                +'</tr></tbody>');
                    $('#candidatoDeferir').css('display', 'block');

               };
            });
            

            
        });
        
        $('#deferirCandidato').live('hover', function(){
            $('#deferirCandidato').css('cursor', 'pointer');
        });

        $(document).on('click', '#deferirCandidato', function(){
            
            candidato    = $('#candidato').val();
            status       = $('#deferirCandidato').attr('data-status');

            $('#modalDeferimento').css('display', 'block');

           
        });

         $(document).on('click', '#cancelar', function(){
            $('#modalDeferimento').css('display', 'none');
         });


         <?php if(isset($mensagem)){ ?>
                modal('alert','<?php echo $mensagem; ?>').show();
         <?php } ?>
        
    });
    
   
</script>
