<meta http-equiv="refresh" content="20;url=http://eleicoesweb/eleicao/eleicaoMapaUrnas" />
1<body class="int3">
    
    <div id="all">
    
        <div id="logoPrincipal2">
        
            <img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/logo/<?php echo LOGO?>" width="500" alt=""  />
        
        </div><!-- /logo -->
        
        <div id="content3" class="clear">
        
            <div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
            
            <div id="tela02">
            
                <div id="votacaoTopo">
                
                    <p>Status Urnas</p>
                
                </div>
                
                <div id="contentMapaCarga">
     
                 
                </div>  

                <div id="table">
                
                            <table class="urna" id="tableDeferir"  width="100%" border="0" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>                                
                                        <th width="100%" colspan="10" >Bloco I</th>
                                    </tr>
                                </thead>
                                
                                <tbody>

                                <tr>    
                                    <?php $cont = 1; $verde =''; ?>
                                    <?php foreach ($dados as $bloco) {  ?>
                                        <?php if($bloco['urn_votosContabilizados'] <> 0){ $verde = 'bgVerde';}?>
                                        <?php if($bloco['locvot_id'] == 1){ ?>
                                                <td class="<?php echo $verde;?>"><?php echo $bloco['urn_secao']; ?></td>
                                            
                                           <?php if($cont % 10 == 0){ echo "</tr><tr>"; }?>
                                        <?php $cont++; $verde =''; } ?>
                                    <?php } ?>
                                </tr>
                                </tbody>

                                 <thead>
                                    <tr>                                
                                        <th width="100%" colspan="10" >Bloco II</th>
                                    </tr>
                                </thead>
                                
                                <tbody>

                                <tr>    
                                    <?php $cont = 1; $verde =''; ?>
                                    <?php foreach ($dados as $bloco) {  ?>
                                        <?php if($bloco['urn_votosContabilizados'] <> 0){ $verde = 'bgVerde';}else{$verde ='';}?>
                                        <?php if($bloco['locvot_id'] == 2){ ?>
                                                <td class="<?php echo $verde;?>"><?php echo $bloco['urn_secao']; ?></td>
                                            
                                           <?php if($cont % 10 == 0){ echo "</tr><tr>"; }?>
                                        <?php $cont++; $verde =''; } ?>
                                    <?php } ?>
                                    
                                </tbody>


                                 <thead>
                                    <tr>                                
                                        <th width="100%" colspan="10" >Bloco III</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                <tr>    
                                    <?php $cont = 1; $verde =''; ?>
                                    <?php foreach ($dados as $bloco) {  ?>
                                        <?php if($bloco['urn_votosContabilizados'] <> 0){ $verde = 'bgVerde';}else{$verde ='';}?>
                                        <?php if($bloco['locvot_id'] == 3){ ?>
                                                <td class="<?php echo $verde;?>"><?php echo $bloco['urn_secao']; ?></td>
                                            
                                           <?php if($cont % 10 == 0){ echo "</tr><tr>"; }?>
                                        <?php $cont++; $verde =''; } ?>
                                    <?php } ?>
                                    
                                </tbody>

                                 <thead>
                                    <tr>                                
                                        <th width="100%" colspan="10" >Bloco IV</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                <tr>    
                                    <?php $cont = 1; $verde =''; ?>
                                    <?php foreach ($dados as $bloco) {  ?>
                                        <?php if($bloco['urn_votosContabilizados'] <> 0){ $verde = 'bgVerde';}else{$verde ='';}?>
                                        <?php if($bloco['locvot_id'] == 4){ ?>
                                                <td class="<?php echo $verde;?>"><?php echo $bloco['urn_secao']; ?></td>
                                            
                                           <?php if($cont % 10 == 0){ echo "</tr><tr>"; }?>
                                        <?php $cont++; $verde =''; } ?>
                                    <?php } ?>
                                    
                                </tbody>

                                 <thead>
                                    <tr>                                
                                        <th width="100%" colspan="10" >Bloco V</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                <tr>    
                                    <?php $cont = 1; $verde =''; ?>
                                    <?php foreach ($dados as $bloco) {  ?>
                                        <?php if($bloco['urn_votosContabilizados'] <> 0){ $verde = 'bgVerde';}else{$verde ='';}?>
                                        <?php if($bloco['locvot_id'] == 5){ ?>
                                                <td class="<?php echo $verde;?>"><?php echo $bloco['urn_secao']; ?></td>
                                            
                                           <?php if($cont % 10 == 0){ echo "</tr><tr>"; }?>
                                        <?php $cont++; $verde =''; } ?>
                                    <?php } ?>
                                    
                                </tbody>

                                 <thead>
                                    <tr>                                
                                        <th width="100%" colspan="10" >BlocV VI</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                <tr>    
                                    <?php $cont = 1; $verde =''; ?>
                                    <?php foreach ($dados as $bloco) {  ?>
                                        <?php if($bloco['urn_votosContabilizados'] <> 0){ $verde = 'bgVerde';}else{$verde ='';}?>
                                        <?php if($bloco['locvot_id'] == 6){ ?>
                                                <td class="<?php echo $verde;?>"><?php echo $bloco['urn_secao']; ?></td>
                                            
                                           <?php if($cont % 10 == 0){ echo "</tr><tr>"; }?>
                                        <?php $cont++; $verde =''; } ?>
                                    <?php } ?>
                                    
                                </tbody>

                                 <thead>
                                    <tr>                                
                                        <th width="100%" colspan="10" >Bloco VII</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                <tr>    
                                    <?php $cont = 1; $verde =''; ?>
                                    <?php foreach ($dados as $bloco) {  ?>
                                        <?php if($bloco['urn_votosContabilizados'] <> 0){ $verde = 'bgVerde';}else{$verde ='';}?>
                                        <?php if($bloco['locvot_id'] == 7){ ?>
                                                <td class="<?php echo $verde;?>"><?php echo $bloco['urn_secao']; ?></td>
                                            
                                           <?php if($cont % 10 == 0){ echo "</tr><tr>"; }?>
                                        <?php $cont++; $verde =''; } ?>
                                    <?php } ?>
                                    
                                </tbody>
                  
                            </table>


                        
                         

                        </div><!-- /table -->       
                
                          <div id="votacaoTopo">
                            
                                <p>Apuradas <?php echo $apuracao[0]['urnas_contabilizadas']." de ".$apuracao[0]['total']; ?></p>
                            
                            </div>
                
            </div><!-- /tela02 -->


<script type="text/javascript">
   
</script>
