<body class="int2">

    <div id="modal" style="display: none;">
        <div class="sombra"></div>
        <div id="alert">
            <div id="confirmar" >
                <p class="numero" id="numeroCandidato"><strong></strong></p>
                <p class="nome" id="modMensagem"><strong></strong></p>
                <a href="javascript:;" id="modOk" class="modOk modAlert">ok</a>
                <a href="javascript:;" id="modConfirma" class="modConfirma modConfirm">confirma</a>
                <a href="javascript:;" id="modCancela" class="modCancela modConfirm">cancela</a>
            </div><!-- /confirmar -->
        </div><!--/alert-->
    </div><!-- /modal -->

    <div id="all">
    
        <div id="logoPrincipal2">
        
            <img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/logo/logo.png" width="500" height="82" alt=""  />
        
        </div><!-- /logo -->
        
        <div id="content3" class="clear">
        
            <div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
            
            <div id="tela02">
            
                <div id="votacaoTopo">
                    <p>Apuração Conselho Tutelar</p>
                </div>
                
                <div id="formVotacao">
                    
                    <ul>
                    <?php if($urnasContabilizadas['total'] == 0){ ?>
                        <li>
                             <a href="/eleicao/emitirApuracaoGeralPorConselho/1" class="botaoCSS">Emitir Zerézima Por Conselho</a>
                        </li>
                    <?php } ?>
                        <li>
                             <a href="/eleicao/eleicaoHome/" class="botaoCSS">Realizar Apuração</a>
                        </li>
                        <li>
                             <a href="/eleicao/eleicaoDeferirCandidato/" class="botaoCSS">Deferir/Indeferir Candidato</a>
                        </li>
                        <li>
                             <a href="/eleicao/eleicaoMapaUrnas/" class="botaoCSS">Mapa Urnas</a>
                        </li>
                        <li>
                             <a href="/candidato/relatorioIndeferidos/" class="botaoCSS">Relatório Indeferidos</a>
                        </li>
                        <li>
                             <a href="/eleicao/emitirApuracaoGeralPorConselho/2" class="botaoCSS">Emitir Apuração Final Por Conselho</a>
                        </li>
                    </ul>
                </div><!-- /table -->
            
            </div><!-- /tela02 -->