
<body class="int3">

	<div id="modal" style="display: none;">
    
    	<div class="sombra"></div>
        
        <div id="alert" class="modalHeight">
        
        	<div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
        
        	<div id="votacaoTopo">
                
                <p id="localVotacao"></p>
                
                <div id="table2">
                
                <table class="urna" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                    </thead>
                        <tbody id="resultadoVotacao"></tbody>
                </table>
                
                </div><!-- /table2 -->
            
            </div><!-- /votacaoTopo -->
            
            <a href="javascript:;" title="fechar" onclick="closeModal();" class="close">fechar</a>
        
        </div><!--/alert-->
    
    </div><!-- /modal -->

	<div id="all">
    
    	<div id="logoPrincipal2">
        
            <img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/logo/<?php echo LOGO?>" width="180" alt=""  />
        
        </div><!-- /logo -->
        
        <div id="content3" class="clear">
        
        	<div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
            
            <div id="tela02">
            
            	<div id="votacaoTopo">
                
                	<p>STATUS MIRROR´S</p>
                
                </div>
                
                <div id="table">
                
                    <table class="urna" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                        	<tr>
                                <th>Urna</th>
                            	<th>Zona</th>
                                <th>Seção</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                                for($x = 0; $x < count($status); $x++):
                            ?>
                            <tr>
                                <td><?php echo $status[$x][0]?></td>
                                <td><?php echo $status[$x][1]?></td>
                                <td><?php echo $status[$x][2]?></td>
                                <td>
                                    <?php if($status[$x][3] == "true"):
                                            $img = 'ok';
                                            $msg = 'Mirror OK';
                                          elseif ($status[$x][3] == "false"):
                                            $img = 'error';
                                            $msg = 'Mirror com problemas';
                                          else:
                                            $img = 'attention';
                                            $msg = 'Urna provavelmente sem conexão';
                                          endif;?>
                                          <img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/<?php echo $img?>_mirror.png" alt="<?php echo $msg?>" title="<?php echo $msg?>" />
                                </td>
                            </tr>
                            <?php
                                endfor;
                            ?>
                        </tbody>
                        
                    </table>
                
                </div><!-- /table -->
                        
            </div><!-- /tela02 -->
        
        <script type="text/javascript">
        
            $(
                function()
                {
                    startVerificaMirror()
                }
            )
            
            function startVerificaMirror()
            {
                setTimeout('verificarMirror()', 30000);
            }
                                    
            function verificarMirror()
            {
                //console.log("iniciando a copia dos arquivos");
                $.ajax({
                        type: "POST",
                        url: '/eleicao/verificarMirror/',
                        dataType: 'json',       
                        success: function(data){                                                     
                        }
                    }).done(function (data) {
                        var listaStatus = '';
                        for(i = 0; i < data.situacao.length; i++) {
                            listaStatus += '<tr>';
                            listaStatus += '    <td>'+data.situacao[i][0]+'</td>';
                            listaStatus += '	<td>'+data.situacao[i][1]+'</td>';
                            listaStatus += '    <td>'+data.situacao[i][2]+'</td>';
                            var img = '';
                            var txt = '';
                            
                            if (data.situacao[i][3] == 'true'){
                                img = 'ok';
                                txt = 'Mirror OK';
                            } else if(data.situacao[i][3] == 'false'){
                                img = 'error';
                                txt = 'Mirror com problemas';
                            } else {
                                img = 'attention';
                                txt = 'Urna provavelmente sem conexão';
                            }
                            listaStatus += '    <td><img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/'+img+'_mirror.png" alt="'+txt+'" title="'+txt+'" /></td>';
                            listaStatus += '</tr>';
                        }
                        
                        $("#table").find("tbody").html(listaStatus);
                        zerarStatusUrna();
                        
                    });
                
            }
            
            function zerarStatusUrna()
            {
                $.ajax({
                        type: "POST",
                        url: '/eleicao/zerarStatusUrna/',
                        success: function(data){
                        }
                    }).done(function (data) {
                        startVerificaMirror()
                    });
                            
                            
            }                                                
            

        </script>        