<body class="int3">

    <div id="modal" style="display: none;">
    	<div class="sombra"></div>
        <div id="alert">
        
        <div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
        
        	<div id="confirmar" >
            	<p class="numero" id="numeroCandidato"><strong></strong></p>
                <p class="nome" id="modMensagem"><strong></strong></p>
                <a href="javascript:;" onclick="closeModal()" id="modOk" class="modOk modAlert">ok</a>
                <a href="javascript:;" id="modConfirma" class="modConfirma modConfirm">confirma</a>
            	<a href="javascript:;" onclick="closeModal()" id="modCancela" class="modCancela modConfirm">cancela</a>
            </div><!-- /confirmar -->
        </div><!--/alert-->
    </div><!-- /modal -->

	<div id="all">
    
    	<div id="logoPrincipal2">
        
            <img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/logo/logo.png" width="500" height="82" alt=""  />
        
        </div><!-- /logo -->
        
        <div id="content3" class="clear">
        
        	<div id="bgTop">
            </div>
            
            <div id="bgRight">
            </div>
            
            <div id="bgLeft">
            </div>
            
            <div id="bgBottom">
            </div>
            
            <div id="tela02">
            
            	<div id="votacaoTopo">
                
                	<p>RESULTADO ZONA: <?php echo $zona?> SEÇÃO: <?php echo $secao?></p>
                
                </div>
                
                <div id="formVotacao">
                
                    <form class="form-cadastro" method="post" action="/eleicao/processaApuracaoManual/" id="frmApuracaoManual">
                        
                        <input type="hidden" name="zona" id="zona" value="<?php echo $zona?>" />        
                        <input type="hidden" name="secao" id="secao" value="<?php echo $secao?>" />
                        
                        <table class="exibicao" style="width:700px; margin: 0 auto">
                            <tr class="head">
                                <td width="7%">Nº</td>
                                <td>Candidato</td>
                                <td width="15%">Votos</td>
                            </tr>
                            
                            <?
                            $arrCandidatos = array();
                            
                            foreach($arrCargos as $cargo) {
                                echo '<tr class="bg" width="100%">
                                        <td colspan="3"><p class="subTitle">'.$cargo['car_nome'].'</p></td>
                                      </tr>';
                                      
                                foreach($arrCandidato as $cand) {
                                    if(trim($cand->cargo) == trim($cargo['car_id'])) {
                                        $arrCandidatos[] = $cand;
                                    }                        
                                }
                                
                                foreach($arrCandidato as $candidato) { 
                            ?>
                                    <tr>
                                        <td style="font-size: 1.8em; color: #666666;">
                                        <?php
                                           echo  $candidato['cdt_oab'];
                                        ?>&nbsp;&nbsp;
                                        </td>
                                        <td style="font-size: 1.8em; color: #666666;">
                                            <?
                                                echo utf8_encode($candidato['cdt_nome']); 
                                            ?>
                                        </td>
                                        <td>
                                            <input type="text" class="candidato" name="" disabled="disabled" value="<?php echo $candidato['vot_sequencial']; ?>" />
                                        </td>
                                    </tr>
                            <?                                    
                                }
                            ?>
                            
                                <tr>
                                    <td style="font-size: 1.8em; color: #666666;"> --- </td>
                                    <td style="font-size: 1.8em; color: #666666;">Branco</td>
                                    <td>
                                        <input type="text" class="candidato" name="" disabled="disabled" value="<?php echo $arrBrancoNulo['B']; ?>" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 1.8em; color: #666666;"> --- </td>
                                    <td style="font-size: 1.8em; color: #666666;">Nulo</td>
                                    <td>
                                        <input type="text" class="candidato" name="" disabled="disabled" value="<?php echo $arrBrancoNulo['N']; ?>" />
                                    </td>
                                </tr>
                            
                            <?
                                $arrCandidatos = '';                            
                            }
                            ?>
                                 
                        </table>
                    </form>
                    
                    <ul>
                        <li>
                            <a href="/eleicao/<?php echo $zona == '0000'? 'eleicaoHome' : 'apuracao/'.$zona.'/'.$secao?>/" class="voltar"></a>
                        </li>
                    </ul>
                
                </div><!-- /table -->
            
            </div><!-- /tela02 -->


<script type="text/javascript" src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>js/jquery.mask.js"></script>
<script type="text/javascript">
    
    $(document).ready(function(){
            
        $('#enviar').click(function(){
            var submete = true; 
            $('.candidato').each(function(){
                if($(this).val() == '') {
                    modal('alert','Informe os votos de todos os candidatos.');
                    submete = false;
                    return false;
                }
            });
            if(submete) {
                $('#frmApuracaoManual').submit();    
            } 
        });
        
        $(".candidato").mask("99999");
        $(".candidato").focus(function(){
            if($(this).val() == 0) {
                $(this).val('');
            } 
        });
        $(".candidato").blur(function(){
            if($(this).val() == '') {
                $(this).val('0');
            } 
        });
            
    });
            
</script>
