

<div id="tela02">
            
	<div id="votacaoTopo">
    
    	<p>VOTAÇÃO</p>
    
    </div>
    
    <div id="formVotacao">
    
        <form id="votacao" name="votacao" action="/urna/standByMesario/" method="post">
        
            <input type="text" class="candidato left" name="oabEleitor" id="oabEleitor" placeholder="<?=NOME_DOCUMENTO ?>" autocomplete="off" />
            
            <span class="left" id="procurar"></span>
            
            
            <div id="resultado">
                <img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>/img/loaderPesquisaEleitor.gif" id="loaderPesquisaEleitor" class="clear" />
                <p class="clear" id="nome"></p>
                <a href="javascript:;" id="liberar" class="confirma" onclick="document.votacao.submit();">confirma</a>                                
            </div>
            
            
            
            <p id="encerrarVotacao" style="display: none;">
                <a href="<?=URL_PORTAL?>urna/menuUrna/" class="btRetornoMenu"></a>
            </p>
            
            <?php 
            /*if($_SESSION['acessibilidade']) { 
            ?>
                <img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>/img/acessibilidade.jpg" id="acessibilidade" />
            <?php 
            } else {*/ 
            ?>
                <img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>/img/acessibilidadepb.jpg" id="acessibilidade" />
            <?php 
            //}
            ?>
            
            <p class="votantes-urna">
                Votantes <span><?php echo $votantes[0]['votantes']?></span> de <?php echo $votantes[1]['votantes']?>
            </p>
            
            <p class="errorMirror">
                CONTACTAR COORDENADOR DA <ins>BISA</ins> CÓD. 1001 <a href="javascript:;" onclick="restartServer()"><img src="" /><img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>/img/btTransparente.png" id="" /></a>
            </p>
            
        </form>
    
    </div>

</div><!-- /tela02 -->

<script type="text/javascript">

//document.title = 'Liberar';



$(document).ready(function(){
   $(window).focus(function() {
        console.log('focus');
	$('#oabEleitor').focus();
    });
    $('#oabEleitor').focus(function(){
        if($(this).val() == 'Cod. Liberação') {
            $(this).val('');
        }
        $('#nome').empty();
        $('#liberar').hide();
    })
    
    $('#liberar').hide();
    $('#procurar').click(function(){
        
        var eleitor = $('#oabEleitor').val();
        
        $("#loaderPesquisaEleitor").show('fast');
        
        $.ajax({
            type: "POST",
            url:'/eleitor/procurarEleitor',
            data: { oabEleitor: eleitor },
            success: function(data) {
                $("#loaderPesquisaEleitor").hide('fast');
                $('#nome').empty();
                if($.trim(data) == 'NE') {
                    $('#nome').empty().html('Eleitor não encontrado nesta urna.');
                    $('#liberar').hide();
                } else if($.trim(data) == 'JV') {
                    $('#nome').empty().html('Eleitor já votou.');
                    $('#liberar').hide();
                } else {
                    $('#nome').empty().html(data);
                    $('#liberar').show();
                }
            }
        });
    
    });
    
    $('#oabEleitor').keypress(function(event) {
        if ( event.which == 13 ) {
            return false;
        }
    });
    
    
    $("#acessibilidade").click(function(){
         $.ajax({
            url:'/urna/acessibilidade',
            success: function(data) {
                var img = '<?=URL_PORTAL."templates/" . TEMPLATE;?>/img/'+data.trim();
                console.log(img);
                $('#acessibilidade').attr('src',img);
            }
        });
    });
    
    $(".btError").click(
        function()
        {
            alert('neh?');
        }
    )
    
    setTimeout('pegarHora()',500);
      
});

function pegarHora() {
    
    horarioAtual = document.getElementById("ur").innerHTML;
    horarioAtual = horarioAtual.split(':');
    horaAtual = horarioAtual[0];
    minutoAtual = horarioAtual[1];
    
    horarioTermino = '<?=$_SESSION['eleicao']['horaTermino']?>';
    horarioTermino = horarioTermino.split(':');
    horaTermino = horarioTermino[0];
    minutoTermino = horarioTermino[1];
    
    if(horaAtual+minutoAtual >= horaTermino+minutoTermino) {
        $('#encerrarVotacao').show();
    } else {
        setTimeout('pegarHora()',5000);
    } 
    
}

//setInterval('statusUrna()', 15000);
//setInterval('statusUrna()', 1200000);


function statusUrna()
{
     $.ajax({
        url:'/urna/statusUrna',
        success: function(data) {
            console.log(data);
            if (data.trim() != 1){
                $(".errorMirror").show();
                $("#procurar").hide();
                $("#encerrarVotacao").hide();
                $(".btRetornoMenu").hide();
            } else {
                $("#procurar").show();
                $(".btRetornoMenu").show();
                $(".errorMirror").hide();
                pegarHora();
            }
        }
    });    
}

function restartServer()
{
     $.ajax({
        url:'/urna/restartServer/',
        success: function(data) {
            statusUrna();
        }
    });    
}

</script>
