<div id="tela03">
            
	<div id="votacaoTopo">
    
    	<p>ELEITOR EM VOTAÇÃO. AGUARDE!</p>
    
    </div>
    
    <div id="formVotacao">
    
        <form id="votacao" method="post" action="">
            
            <textarea id="codigoCancelamento" class="left" autofocus></textarea>
            
            <div class="clear"></div>
            <p id="mensagemCancelamento"></p>
            <a href="javascript:;" id="cancelarVotacao" class="cancela clear">cancela</a>
        
        </form>
    
    </div>

</div><!-- /tela03 -->

<script type="text/javascript" src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>js/actionsMesario.js"></script>

<script type="text/javascript">
    window.onfocus = function() {
	//document.getElementById('codigoCancelamento').focus();
	//alert('focu');
    }        
    $(document).ready(function(){
	$('#codigoCancelamento').focus();
        $('#cancelarVotacao').click(function(){
            
            var codigo = $('#codigoCancelamento').val();
            
            if(codigo == '') {
                $('#mensagemCancelamento').empty().html('Informe o código de cancelamento.')            
            } else {
                
                $.ajax({type: "POST",
                        url:'/eleicao/cancelarVotacao/',
                        data: { codigo: codigo },
                        success: function(data) {
                            if($.trim(data) == 'ERRO') {
                                $('#mensagemCancelamento').empty().html('Código incorreto.');
                            } else {
                                modal('confirm','Deseja realmente cancelar a votação do eleitor?','modConfirma');
                            }
                        }
                });
                
            }         
            
            $(".modConfirma").click(
                function()
                {
                    $.ajax({type: "POST",
                            url:'/eleicao/cancelarVotacao/s/',
                            data: { codigo: codigo },
                            success: function(data) {
                                if($.trim(data) == 'ERRO') {
                                    $('#mensagemCancelamento').empty().html('Código incorreto.');
                                }
                            }
                    });

                }
            )
            
             
        });
         
    });
    

</script>
