<?php

require_once(CAMINHO_PORTAL.'/conf/functions.inc.php');
$func = new Functions();

$cidade = $func->remover_acentos($_SESSION['eleicao']['cargos'][0]['car_nome']);
$cidade = $func->remover_espacos($cidade);
$cidade = $func->replaceString($cidade);


?>
<script type="text/javascript" src="<?php echo URL_PORTAL."templates/" . TEMPLATE . "/"?>js/actionsEleitor.js"></script>
<style>
  body { visibility: hidden !important; background: none; }
</style>
<script type="text/javascript" src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>js/jquery.jplayer.min.js"></script>
<script>
    var myPlayer;
    var setNomeEleicao;
    var setInstrucao;
    var setBtConfirmar;
    
    $(document).ready(function(){
        
        myPlayer = $("#jquery_jplayer_1");
        myPlayer.jPlayer({
    		ready: function () {
    		},
    		swfPath: "<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>js",
    		supplied: "mp3",
    		wmode: "window",
            cssSelectorAncestor: '#jp_container_1'
    	});
        
        
        setNomeEleicao = setTimeout("nomeEleicao('eleicao')", 3500);
        
        setInstrucao = setTimeout("leitor('instrucao')", 7000);
        var cand1 = $(".listaCargos:first").attr("som");
        setTimeout("leitor('"+cand1+"')", 23000);
        /*
        $(".imgCandidato, #corrige").mouseenter(function(){            
            myPlayer.jPlayer("setMedia", {
    			mp3: "<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>mp3/"+$(this).attr("som")+".mp3"            
    		});
            myPlayer.jPlayer("play");
            return false;            
        }).mouseleave(function(){
        });
        */
                
    });
    
    function nomeEleicao(audio)
    {
        myPlayer.jPlayer("setMedia", {
			mp3: "<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>mp3/"+audio+".mp3"            
		});
        myPlayer.jPlayer("play");
        
    }
    
    function leitor(audio) {

        self.update_timer = function (event) {
            var status = event.jPlayer.status;
        };
        
        myPlayer.jPlayer("setMedia", {
			mp3: "<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>mp3/"+audio+".mp3"
		}).jPlayer("play");
		myPlayer
        .jPlayer("play")
        .bind($.jPlayer.event.timeupdate, self.update_timer);;
    }
    
    function leitorOff() {
        $('#jquery_jplayer_1').jPlayer("stop");
        //$('#jquery_jplayer_1').remove();
    }
    
    
</script>


    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
		<div id="jp_container_1" class="jp-audio">
			<div class="jp-type-single">
				<div class="jp-gui jp-interface">
					<ul class="jp-controls">
						<li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
						<li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
						<li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
						<li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
						<li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
						<li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
					</ul>
					<div class="jp-progress">
						<div class="jp-seek-bar">
							<div class="jp-play-bar"></div>
						</div>
					</div>
					<div class="jp-volume-bar">
						<div class="jp-volume-bar-value"></div>
					</div>
					<div class="jp-time-holder">
						<div class="jp-current-time"></div>
						<div class="jp-duration"></div>

						<ul class="jp-toggles">
							<li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
							<li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>    
    <div id="modal" style="display: none;">
    	<div class="sombra"></div>
                
        <div id="alert">
        	<div id="imgGrande" class="left">
                <img src="" alt="" />
            </div><!-- /imgGrande -->
            <div id="confirmar" >
            	<p class="numero" id="numeroCandidato"><strong></strong></p>
                <p class="nome" id="nomeCandidato"><strong></strong></p>
                <a href="javascript:;" id="confirma" class="imgCandidato confirma" som="confirma">confirma</a>
            	<a href="javascript:;" id="corrige" class="corrige" som="corrige">corrige</a>
            </div><!-- /confirmar -->
        </div><!--/alert-->
    </div><!-- /modal -->


	<div id="all">
        <div id="content">
        
            <div id="bgTop"></div>
            
            <div id="bgRight"></div>
            
            <div id="bgLeft"></div>
            
            <div id="bgBottom"></div>
        
        	<div id="text">
            	<p>CANDIDATOS</p>
            </div><!-- /text -->
            
            <form name="frmCandidato" id="frmCandidato" pode="false" method="post" action="/urna/computarVoto/" ativo="1" cand="0" situacao="cand" opcao="1" fim="false">
            <?php
                foreach($_SESSION['eleicao']['cargos'] as $cargo) {
                if($cargo['car_id'] > 1) :
                    $classHidden = 'style="display: none;"';
                else:
                    $classHidden = '';
                    $ttVotos = $cargo['car_votos'];
                    $ttCargo = $cargo['car_nome'];
                endif;
                $cidade = $func->remover_acentos($cargo['car_nome']);
                $cidade = $func->remover_espacos($cidade);
                $cidade = $func->replaceString($cidade);

            ?>
            
            <div class="listaCargos" id="cargo<?php echo $cargo['car_id']?>" som="<?php echo $cidade?>" <?php echo $classHidden;?> votos="<?php echo $cargo['car_votos']?>">
                    <p class="tituloEleicao imgCandidato" dados="|" som="votacao<?php echo $cargo['car_id']?>"><?php echo $cargo['car_nome']?></p>
                    <div class="aaaa"></div>
                    
            <?
                if ($arrCandidato):
                    foreach($arrCandidato as $candidato): 
						if (!in_array($candidato->numCandidatura, array(98, 99)) && $candidato->cargo == $cargo['car_id']):
                            $chapa = explode('.', $candidato->foto);
                            $chapa = $chapa[0];
            ?>
            
                    	<ul>
                            <li class="candidato candidato<?php echo $candidato->oab;?>" dados="<?=$candidato->oab.'|'.$candidato->nome.'|'.$candidato->numCandidatura?>" som="<?php echo $chapa;?>"> 
                                <div id="img">
                                    <img som="<?php echo $chapa;?>" class="imgCandidato opcCandidato" src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>/img/fotos/<?=$candidato->foto?>" dados="<?=$candidato->oab.'|'.$candidato->nome.'|'.$candidato->numCandidatura?>" />
                                    <!--<img class="imgCandidato" src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>/img/fotos/<?=$candidato->foto?>" onmouseover="leitor('chapa<?php echo $candidato->oab;?>')" onmouseout="leitorOff();" onclick="leitor('chapa<?php echo $candidato->oab;?>selec')" />-->
                                    <p><?=$candidato->numCandidatura?></p>
                                </div>
                                <p class="nome-candidato"><?=$candidato->nome?></p>
                            </li>
                        </ul>
             <?
                        endif;
                    endforeach;
                endif;
            ?>
            </div>
            <?
            }
            ?>
            <fieldset id="votos"></fieldset>
            
            </form>
        </div><!-- /content -->
        <br /><br /><br /><br />
        <div id="botoes" class="clear">
            <a href="javascript:;" id="branco" class="imgCandidato opcCandidato branco" dados="<?=BRANCO_OAB?>|Voto em Branco|<?=BRANCO_NUMERO?>" som="branco">branco</a>
            <a href="javascript:;" id="nulo" class="imgCandidato opcCandidato nulo" dados="<?=NULO_OAB?>|Voto em Nulo|<?=NULO_NUMERO?>" som="nulo">nulo</a>
        </div><!-- /botoes -->
        <div id="ttVotos" class="clear">
            Votos <span>0</span> de <?php echo $ttVotos; if ($ttVotos > 1):?> para <?php echo $ttCargo; endif;?>
        </div>
        
    </div><!-- /all -->


<script type="text/javascript">
    $(document).ready(function(){
        
        oab = '';
        votos = 0;
         
    });

    function verificaStatus() {
        $.ajax({
            url:'/eleicao/verificarStatus/',
            success: function(data) {
                console.log(data.trim())
                if(data.trim() == 'M') {
                    window.location = '/urna/standByEleitor/';    
                } else {
                    console.log("Eleitor");
                }
            }
        });
    }

    var mensagem="";
    function clickIE() {
        if (document.all) 
        {
            return false;
        }
    }
    
    function clickNS(e) {
        if (document.layers||(document.getElementById&&!document.all)) {
            var situacao = $("#frmCandidato").attr("situacao");
            var ativo = $("#frmCandidato").attr("ativo");
            var candAtivo = $("#frmCandidato").attr("cand");
            var opcao = $("#frmCandidato").attr("opcao");
            var pode = $("#frmCandidato").attr("pode");

            clearInterval(setNomeEleicao);
            clearInterval(setInstrucao);
            
            var fimVotacao = $("#frmCandidato").attr("fim");
            
            if (fimVotacao == "false"){
                
                console.log(e.which);
                
                if (e.which == 3) {
                    if (situacao == 'cand'){
                        navegacaoCandidatos(ativo, candAtivo);
                    } else {
                        navegacaoOpcao(candAtivo, opcao);
                        if (opcao == 1){
                            opcao = 2;
                        } else {
                            opcao = 1;
                        }
                        $("#frmCandidato").attr("opcao", opcao);
                    }
                    $("#frmCandidato").attr("pode", "true");
                    return false;
                } else if (e.which == 1){
                    //console.log("pode? "+pode);
                    //console.log("situacao? "+situacao);
                    if (pode == "true"){
                        if (situacao == 'cand'){
                            
                            clickCandidato(candAtivo);
                            $('.aaaa').html('candAtivo: '+candAtivo);                                                        
                            setBtConfirmar = setTimeout('getTempo('+opcao+')', 1000);                            
                            $("#frmCandidato").attr("opcao", "2");
                            $("#frmCandidato").attr("situacao", "detalhe");
                            $("#frmCandidato").attr("pode", "true");
                        } else {
                            clearTimeout(setBtConfirmar);
                            clearInterval(setBtConfirmar);
                            clickOpcao(opcao, candAtivo);
                            $("#frmCandidato").attr("situacao", "cand");
                        }
                    }
                } else if (e.which == 2){
                    clearInterval(setNomeEleicao);
                    clearInterval(setInstrucao);
                    setNomeEleicao = setTimeout("nomeEleicao('"+ativo+"')", 1000);
                    setInstrucao = setTimeout("leitor('instrucao')", 5000);
                    console.log("<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>mp3/instrucao.mp3");
                }
            
            }
        }
    }
    if (document.layers) {
        document.captureEvents(Event.MOUSEDOWN);
        document.onmousedown=clickNS;
    } else {
        document.onmouseup=clickNS;
        document.oncontextmenu=clickIE;
    }
    document.oncontextmenu = new Function("return false");
    
    function navegacaoCandidatos(ativo, candAtivo)
    {
        var atual = '';
        if ($.isNumeric(candAtivo)){
            atual = $("#cargo"+ativo +" ul li").eq( candAtivo ).attr("som");
        } else {
            atual = $("#"+candAtivo).attr("som");
        }
        var qtd = $("#cargo"+ativo +" ul li").length;
        
        if (parseInt(candAtivo) == (parseInt(qtd) - 1)){
            candAtivo = 'branco'
        } else {
            if(candAtivo == 'branco'){
                candAtivo = 'nulo'
            } else if(candAtivo == 'nulo'){
                candAtivo = 0;
            } else {
                candAtivo++;
            }
        }
        
        $("#frmCandidato").attr("cand", candAtivo);
        leitor(atual);
        
    }
    
    
   function leitor(audio) {
        myPlayer = $("#jquery_jplayer_1");
        myPlayer.jPlayer("setMedia", {
			mp3: "<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>mp3/"+audio+".mp3"
		});
        myPlayer.jPlayer("play");
        setTimeout('closeModal()', 2000);
    } 
    
    function clickCandidato(elemento)
    {
        elemento = returnElemento(elemento);
        dados = elemento.attr('dados').split('|');
        oab = dados[0];
        var numeroCandidato = dados[2];
        
        if (numeroCandidato == "98")
            numeroCandidato = "&nbsp;";
        else if (numeroCandidato == 99){
            numeroCandidato = "&nbsp;";
        }
        
        $('#nomeCandidato').empty().html('<strong>'+dados[1]+'</strong>'); 
        $('#numeroCandidato').empty().html('<strong>'+numeroCandidato+'</strong>');
    
        if(dados[0] == '<?=BRANCO_OAB?>') {
            var imagem = '<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>/img/fotos/branco.jpg';
        } else if(dados[0] == '<?=NULO_OAB?>') {
            var imagem = '<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>/img/fotos/nulo.jpg';
        } else {
            var imagem = $(".candidato"+oab).find("img").attr("src");    
        }
        
        console.log("<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>mp3/"+elemento.attr("som")+"selec.mp3");
        myPlayer = $("#jquery_jplayer_1");
        myPlayer.jPlayer("setMedia", {
			mp3: "<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>mp3/"+elemento.attr("som")+"selec.mp3"
		});
        myPlayer.jPlayer("play");
        $(this).blur();
        
       $("#imgGrande > img").attr({"src": imagem, "width": "330px", "height": "330px"});
        
    }
    
    function navegacaoOpcao(candAtivo, opcao)
    {
        var som = '';
        if (opcao == 1){
            som = $("#confirmar").find("a:first").attr("som");
        } else {
            som = $("#confirmar").find("a:last").attr("som");
        }
        leitor(som);
    }
    
    function clickOpcao(opcao, elemento)
    {
        
        elemento = returnElemento(elemento);
        console.log('opcao clickOpcao: ' + opcao);
        if (opcao == 1){
            leitorOff();
            myPlayer = $("#jquery_jplayer_1");
            myPlayer.jPlayer("setMedia", {
    			mp3: "<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>mp3/corrigeselec.mp3"
    		});
            myPlayer.jPlayer("play");
            
            $("#frmCandidato").attr("cand", "0").attr("situacao", "cand").attr("opcao", "1");
            setTimeout('closeModal()', 2000);
            
          } else {
            
                var voto = '<input type="hidden" name="votos[]" value="'+oab+'" />';
                voto += '<input type="hidden" name="cargo[]" value="'+$("#frmCandidato").attr("ativo")+'" />';
                $('#votos').append(voto);
                
                var qtdVotos = $("#votos").find("input").length;
                votos++;
                
                $('.candidato').each(function(){
                    dados = $(this).attr('dados').split('|');
                    if(dados[0] == oab) {
                        $(this).removeClass('candidato');
                        $(this).unbind('click');
                        $(this).fadeTo('fast', 0.5);
                    }
                });                                                                                                                
                
                myPlayer = $("#jquery_jplayer_1");
                myPlayer.jPlayer("setMedia", {
        			mp3: "<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>mp3/confirmaselec.mp3"
        		});
                myPlayer.jPlayer("play");
                
                setTimeout('closeModal()', 2000);
    
                var votacaoAtiva = $("#frmCandidato").attr("ativo");
                votacaoAtiva = parseInt(votacaoAtiva);
                var ttVotos = $("#cargo"+votacaoAtiva).attr("votos");
                ttVotos = parseInt(ttVotos);
                
                if(votos >= ttVotos) {
    
                    if (votacaoAtiva == <?php echo count($_SESSION['eleicao']['cargos'])?>){
                        $('.candidato').each(function(){
                             $(this).unbind('click');
                        });
                        $('.opcCandidato').each(function(){
                             $(this).unbind('click');
                        });
                        $('.candidato').each(function(){
                             $(this).unbind('click');
                        });
                        
                        $("#frmCandidato").attr("fim", "true");
                        setTimeout('$("#frmCandidato").submit()', 2000);
                    } else {
                        var proximo = $(".listaCargos").next().attr("id");
                        votacaoAtiva = proximo.replace("cargo", "");
                        votos = 0;
                        $("#frmCandidato").attr("ativo", votacaoAtiva); 
                        votacaoAtiva = $("#frmCandidato").attr("ativo");
                        $(".listaCargos").hide();
                        $("#cargo"+votacaoAtiva).show();                    
                        var somAtivo = $(".listaCargos").next().attr("som");
                        setTimeout('nomeEleicao("'+somAtivo+'")', 3000);
                        
                    }
    
                }
                
                var txtVotacao = '';
                
                if (ttVotos > 1){
                    txtVotacao = " para "+$("#cargo"+votacaoAtiva).find('.tituloEleicao').html();
                }
                
                $("#ttVotos").html("Votos <span>" + votos + "</span> de "+ttVotos+txtVotacao);
              
                $("#frmCandidato").attr("cand", "0").attr("situacao", "cand").attr("opcao", "1");
                    
          }
          
          $("#frmCandidato").attr("pode", "false");
    }               
    
    function returnElemento(elemento)
    {
        var ativo = $("#frmCandidato").attr("ativo");
        var qtd = $("#cargo"+ativo +" ul li").length;
        qtd = parseInt(qtd);
        if (elemento > 0){
            if (elemento == qtd){
                elemento = 'branco';
            } else {
                elemento--;
            }
        } else {
            if (elemento == 'branco'){
                console.log(qtd--);
                elemento = qtd--;
            } else {
                if (elemento == 'nulo'){
                    elemento = 'branco';
                } else {
                    elemento = 'nulo';
                }
            }
        }
        
        if ($.isNumeric(elemento)){
            elemento = $("#cargo"+ativo +" ul li").eq( elemento );
            
        }else {
            elemento = $("#"+elemento);
        }
        
        return elemento;
        
    }
    
    function getTempo(opcao)
    {
        var candAtivo = $("#frmCandidato").attr("cand");
        $('.aaaa').html('getTempo: '+candAtivo);
        var duration = $(".jp-duration").text();
        var totalDuration = 0;
        duration = duration.split(":");
        
        var minuto = parseInt(duration[0]);
        var segundo = parseInt(duration[1]);        
        if (minuto > 0){
            minuto = minuto * 60;
        }
                
        totalDuration = ((minuto + segundo) * 1000) + 200;
        setBtConfirmar = setTimeout('navegacaoOpcao('+candAtivo+', '+opcao+');', totalDuration);        
        
    }
    
    function getTempoInicio()
    {
        //var candAtivo = $("#frmCandidato").attr("cand");
        //$('.aaaa').html('getTempo: '+candAtivo);
        var duration = $(".jp-duration").text();
        var totalDuration = 0;
        duration = duration.split(":");
        
        var minuto = parseInt(duration[0]);
        var segundo = parseInt(duration[1]);        
        if (minuto > 0){
            minuto = minuto * 60;
        }
        
        console.log(((minuto +' '+ segundo) + ' * ' + 1000) + ' + ' +200);
        
        totalDuration = ((minuto + segundo) * 1000) + 200;
        //console.log(totalDuration);
        //setTimeout('navegacaoOpcao('+candAtivo+', '+opcao+');', totalDuration);
        return totalDuration;        
        
    }
// -->     
    

</script>