<script type="text/javascript" src="<?php echo URL_PORTAL."templates/" . TEMPLATE . "/"?>js/actionsEleitor.js"></script>
<script type="text/javascript" src="http://<?php echo $_SERVER['HTTP_HOST']?>:5000/static/socket.io.min.js"></script>
<script type="text/javascript" src="http://<?php echo $_SERVER['HTTP_HOST']?>:5000/static/hardkeyboard.js"></script>
<div id="modal" style="display: none;">
	<div class="sombra"></div>
  <div id="alert">
  	<div id="imgGrande" class="left">
      <img src="" alt="" />
    </div><!-- /imgGrande -->
    <div id="confirmar" >
    	<p class="numero" id="numeroCandidato"><strong></strong></p>
      <p class="nome" id="nomeCandidato"><strong></strong></p>
      <a href="javascript:;" id="confirma_" class="confirma">confirma</a>
    	<a href="javascript:;" id="corrige_" class="corrige">corrige</a>
    </div><!-- /confirmar -->
  </div><!--/alert-->
</div><!-- /modal -->

<div id="modal2" style="display: none;">
  <div class="sombra"></div>
  <div id="alert">
    <div id="confirmar" >
      <p class="tituloEleicao" id="tituloEleicao"><strong></strong></p>
    </div><!-- /confirmar -->
  </div><!--/alert-->
</div><!-- /modal2 -->
<div id='debug'></div>
<div id="all">
  <div id="content">
    <div id="bgTop">
    </div>
    <div id="bgRight">
    </div>
    <div id="bgLeft">
    </div>
    <div id="bgBottom">
    </div>
  	<div id="text">
      <p>CANDIDATO</p>
    </div><!-- /text -->
    <form name="frmCandidato" id="frmCandidato" method="post" action="/urna/computarVoto/" ativo="1">
      <div class="listaCargos" id="cargo<?php echo $cargo['car_id']?>" <?php echo $classHidden;?> votos="<?php echo $cargo['car_votos']?>">
        <p class="tituloEleicao" style="padding: 60px 0;"><?php echo $cargo['car_nome']?></p>
        <div class="inputCandidato" id="inputCandidato" name="inputCandidato"></div>
      </div>
      <br clear="all" />
      <fieldset id="votos"></fieldset>
    </form>
  </div><!-- /content -->
  <div id="ttVotos" class="clear">
    Voto <span id="votoAtual">0</span> de <span id="cargoVotos">0</span>
  </div>
</div><!-- /all -->
<div class='hide-cursor-overlay'></div>
<script type="text/javascript">

document.title = 'Votar';

var cargo = <?php echo json_encode($_SESSION['eleicao']['cargos']); ?>;

var votosCandidatos = Array();
var totalCargos = cargo.length;
var cargoAtual = 1;
var totalVotosCargo = 0;
var votoAtual = 1;
var cargoNome = '';
var assetsPath = "<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>mp3/";
// Tenta carregar os arquivos.. se chamar o play desses aí as vezes falha, e sem preload as vezes falha tb..complicado :(
var audios = {
	"branco": new Audio(assetsPath + "branco.ogg"),
	"nulo": new Audio(assetsPath + "nulo.ogg"),
	"corrigido": new Audio(assetsPath + "corrigido.ogg"),
	"confirmado": new Audio(assetsPath + "confirmado.ogg"),
	"0": new Audio(assetsPath + "0.ogg"),
	"1": new Audio(assetsPath + "1.ogg"),
	"2": new Audio(assetsPath + "2.ogg"),
	"3": new Audio(assetsPath + "3.ogg"),
	"4": new Audio(assetsPath + "4.ogg"),
	"5": new Audio(assetsPath + "5.ogg"),
	"6": new Audio(assetsPath + "6.ogg"),
	"7": new Audio(assetsPath + "7.ogg"),
	"8": new Audio(assetsPath + "8.ogg"),
	"9": new Audio(assetsPath + "9.ogg")
}

getDadosCargo(cargoAtual-1);

function getDadosCargo(cargoAtual) {
  cargoNome = cargo[cargoAtual].car_nome;
  $('.tituloEleicao').html(cargoNome);
  showModal2();
  setTimeout(closeModal2, 3000);
  totalVotosCargo = cargo[cargoAtual].car_votos;
  $('#cargoVotos').html(totalVotosCargo);
  $('#votoAtual').html(votoAtual);
}

$(document).ready(function() {
	hardkeyboard = new HardKeyboard({
		textbox: '#inputCandidato',
		url: "http://<?php echo $_SERVER['HTTP_HOST']?>:5000",
		on_key_down: function on_key_down(key) {
			switch(key) {
		    case 'KEY_KPSLASH': // SE APERTAR A TECLA BRANCO
					pesquisarCandidato('<?php echo BRANCO_NUMERO?>');
					$('#inputCandidato').text('<?php echo BRANCO_OAB?>');
					play('branco');
	        break;
		    case 'KEY_KPASTERISK': // SE APERTAR A TECLA NULO
					pesquisarCandidato('<?php echo NULO_NUMERO?>');
					$('#inputCandidato').text('<?php echo NULO_OAB?>');
					play('nulo');
	        break;
				case 'KEY_KPMINUS': // SE APERTAR A TECLA CORRIGE
					corrigeVoto();
					play('corrigido');
					break;
				case 'KEY_KPPLUS':  // SE APERTAR A TECLA CONFIRMA
					confirmarVoto();
					play('confirmado');
					break;
			}
			return true;
		},
		on_update: function on_update(old_text, new_text, char) {
			if (char) {
				play(char);
			}
			if(new_text.length >= 3) {
				var numeroCandidato = new_text;
				if(verificarDuplicidadeVoto(numeroCandidato)) {
					var foto = 'inexistente.png' ;
					var imagem = '<?php echo URL_PORTAL."templates/" . TEMPLATE . "/"?>/img/fotos/';
					$("#imgGrande > img").attr({"src": imagem, "width": "1px", "height": "1px"});
					$('#numeroCandidato').text(numeroCandidato);
					$('#nomeCandidato').text('Esse candidato já foi selecionado.');
					$('#confirma_').css('display','none');
					showModal();
				} else {
					pesquisarCandidato(numeroCandidato);
				}
			}
		}
	});

	function play(value) {
		<?php if($_SESSION['acessibilidade']) { ?>
			var oggfile = assetsPath + value +".ogg";
			var audio = new Audio(oggfile);
			audio.play();
		<?php } ?>
	}

  function verificarDuplicidadeVoto(numeroCandidato) {

      if(numeroCandidato != <?php echo NULO_NUMERO?> && numeroCandidato != <?php echo BRANCO_NUMERO?>) {
        candidato = cargoAtual+numeroCandidato;
        if($.inArray(candidato, votosCandidatos) != -1) {
          return true;
        }
      }
      return false;
  }

  function corrigeVoto() {
    $('#inputCandidato').text('');
    closeModal();
  }

  function confirmarVoto() {

    var numeroCandidato = $('#inputCandidato').text();
		debugger;
    if(!verificarDuplicidadeVoto(numeroCandidato) || numeroCandidato == <?php echo BRANCO_NUMERO?> || numeroCandidato == <?php echo NULO_NUMERO?> ) {

      $('#inputCandidato').text('');
      if(numeroCandidato != '') {

        sleep(1000);

        var voto = '<input type="hidden" class="listaVotos" name="votos[]" value="'+numeroCandidato.replace('/','')+'" />';
            voto += '<input type="hidden" class="listaCargosEscolhido" name="cargo[]" value="'+cargoAtual+'" />';
        $('#votos').append(voto);
        votosCandidatos.push(cargoAtual+numeroCandidato.replace('/',''));

        if(votoAtual >= totalVotosCargo) {
          cargoAtual++;
          if(cargoAtual > totalCargos) {
            $('#frmCandidato').submit();
          } else {
            votoAtual = 0;
            getDadosCargo(cargoAtual-1);
            corrigeVoto();
          }
        } else {
          corrigeVoto();
        }

        votoAtual++;
        $('#votoAtual').html(votoAtual);

    }
    }
  }

  function pesquisarCandidato(numeroCandidato) {
    $.ajax({
      url: "/candidato/getDadosCandidato/",
      method: "POST",
      data: { numeroCandidato: numeroCandidato, cargoCandidato: cargoAtual },
      dataType: "json",
      async: false
    })
    .done(function( data ) {
      var nome = data.nome != null ? data.nome : 'Número Inválido para '+cargoNome ;
      $('#nomeCandidato').empty().html('<strong>'+nome+'</strong>');

	if(data.nome != null) {
	  var nome = data.nome ;
          $('#confirma_').css('display','inline-block');
	} else {
   	  var nome = 'Número Inválido para '+cargoNome ;
	  $('#confirma_').css('display','none');
	}

      var numeroCandidato = data.numero;
      if (numeroCandidato == '<?php echo BRANCO_OAB?>' ||
          numeroCandidato == '<?php echo NULO_NUMERO?>' ||
          numeroCandidato == null) {
          numeroCandidato = "&nbsp;";
      }
      $('#numeroCandidato').empty().html('<strong>'+numeroCandidato+'</strong>');

      var foto = data.foto != null ? data.foto : 'inexistente.png' ;
      var imagem = '<?php echo URL_PORTAL."templates/" . TEMPLATE . "/"?>/img/fotos/'+foto;
      $("#imgGrande > img").attr({"src": imagem, "width": "330px", "height": "330px"});

      if(data.nome == null) {
        $('#inputCandidato').text('');
        //setTimeout(corrigeVoto, 3000)
      }

      showModal();
    });
  }

  var mensagem="";
  function clickIE() {
    if (document.all) {
      (mensagem);
      return false;
    }
  }
  function clickNS(e) {
    if (document.layers||(document.getElementById&&!document.all)) {
      if (e.which==2||e.which==3) {
        (mensagem);
        return false;
      }
    }
  }
  if (document.layers) {
    document.captureEvents(Event.MOUSEDOWN);document.onmousedown=clickNS;
  } else {
    document.onmouseup=clickNS;document.oncontextmenu=clickIE;
  }
  document.oncontextmenu = new Function("return false")

});
</script>
