<!--p class="voto">voto realizado com sucesso!</p-->
<img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/sucesso.png" width="165" height="160" alt="" class="clear left" />
<p class="fim left">FIM</p>
<div class='hide-cursor-overlay'></div>
<audio src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>mp3/finalvotacao.ogg" autoplay="autoplay"></audio>
<script type="text/javascript" src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>js/actionsEleitor.js"></script>
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<script type="text/javascript">

    $(
        function()
        {

            myPlayer = $("#jquery_jplayer_1");
            myPlayer.jPlayer({
        		ready: function () {
        		},
        		swfPath: "<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>js",
        		supplied: "mp3",
        		wmode: "window",
                cssSelectorAncestor: '#jp_container_1'
        	});

            self.update_timer = function (event) {
                var status = event.jPlayer.status;
            };

            myPlayer.jPlayer("setMedia", {
    			mp3: "<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>mp3/finalvotacao.mp3"
    		}).jPlayer("play");
    		myPlayer
            .jPlayer("play")
            .bind($.jPlayer.event.timeupdate, self.update_timer);;
        }
    )

    /* trocarTela
     *
     * Usada para mudar o focus da janela do eleitor para a janela do mesário.
     *
     * @param telaAtual  - Janela atual onde rodará o script.
     * @param campoFocus - Campo input para onde o focus será redirecionado.
     *
     * @see É necessário habilitar a opção ALTERAR A DISPOSIÇÃO ENTRE JANELAS no Firefox.
     *
     * Caminho:
     * Firefox > opções > conteúdo > permitir Javascript > avançado > Alterar a disposição entre as janelas.
     *
     **/
    function trocarTela(telaAtual, campoFocus){
       var enderecoAtual = null;
       var telaMesario   = null;
       var enderecoEleitor = '<?=URL_PORTAL?>urna/standByEleitor';

       enderecoAtual = telaAtual.location;

       if(enderecoAtual == enderecoEleitor)
       {
            telaMesario = window.opener;
            telaMesario.focus();

            if(campoFocus != undefined)
            {
                 telaMesario.$('#' + campoFocus).focus();
                 telaMesario.$('#' + campoFocus).click();
                // telaMesario.alert('aa');
            }
            //return;
       }
       else
       {
           //alert("Erro ao trocar para tela do mesário");
       }
    }

    function verificaStatus() {
        $.ajax({
            url:'/eleicao/verificarStatus/',
            success: function(data) {
                if(data.trim()=='E') {
                    window.location = '/urna/exibirCandidatos/';
                } else {
                    console.log("Mesário");
                }
            }
        });
    }

    setTimeout('trocarTela(this,"oabEleitor")', 3000);

</script>
