<!--<p class="voto">voto realizado com sucesso!</p>
<img src="<?=URL_PORTAL."templates/" . TEMPLATE . "/"?>img/sucesso.png" width="165" height="160" alt="" class="clear left" />-->
<p class="fim left">Aguarde o início da votação</p>
<div class='hide-cursor-overlay'></div>
<script>

$(document).ready(function(){

   statusEleitor = setInterval('verificaStatus()',2000);

});

function verificaStatus() {
    $.ajax({
        url:'/eleicao/verificarStatus/',
        success: function(data) {
            if(data.trim()=='E') {
                window.location = '/urna/exibirCandidatos/';
            } else {
                //window.location = '/urna/standByEleitor/';
            }
        }
    });
}


</script>
